<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--添加品牌</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/addMfg.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/mfg.js"></script>
</head>

<body>
<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>
<div id="addMfg_box">
    <div id="addMfg">
        <form id="addForm" action="/addmfg" method="post" enctype="multipart/form-data" name="addForm">===============添加品牌===============
            <dl>
                <dd>上传LOGO： <input  type="file"  name="upload" id="upload"/></dd>
                <dd>品牌名称：<input  name="mfgName" type="text" required/></dd>
                <dd>产品分类：<input  name="product" type="text" /></dd>
                <dd>公司简介：<input  name="mprofile" type="text" /></dd>
                <dd>公司国籍：<input  name="country" type="text" /></dd>
                <dd>公司网址：<input name="website" type="text" /></dd>
                <dd><button class="mfgSave">保存</button></dd>
            </dl>
        </form>
    </div>
</div>
<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>