<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>唯群网--添加型号</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/addPn.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/addPn.js" ></script>
</head>

<body>
<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>

<div id="addPn_box">
    <div id="addPn">
        <form id="addForm" action="/addpn" method="post" enctype="multipart/form-data" name="addForm">===============添加型号===============
            <dl>
                <dd>产品种类：<select  id="ptypeList" name="ptype">

                    <option th:each="pntype:${pntypeList}"  th:value="${pntype.id}" th:text="${pntype.name}"></option>
                </select></dd>
                <dd>品牌名称：<input name="mfg"  type="text" onblur="checkMfg(this)" required="required"/><button onclick="addMfg()">增加品牌</button><span></span> </dd>
                <dd>产品型号：<input name="pn" type="text" onblur="checkPn(this)" required="required"/><span></span></dd>
                <dd>产品描述：<input name="des"  type="text" /></dd>
                <dd>产品封装：<input name="pkge" type="text" /></dd>
                <dd>包装方式：<input name="pack" type="text" /></dd>
                <dd>整包数量：<input name="mpq" type="text" /></dd>
                <dd>参考价格：<input name="price" type="text" /></dd>
                <dd>规格参数：<input name="speck" id="spec"  type="text" /></dd>
                <dd>上传图片：<input name="upload"  type="file"  id="upload"/></dd>
                <dd>规格链接：<input name="datalink"  type="text" /></dd>
                <dd><button type="button" onclick="saveCurrentPn()" class="pnSave">保存</button></dd>
            </dl>
        </form>
    </div>
</div>

<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>