
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>维群网--管理平台</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/admin.js"></script>

<body>
<div id="box">
    <div id="box1">
        <span>维群网--管理后台</span>
        <a onclick="index()">前台首页</a>
    </div>
    <div id="box2">
        <div id="admnav">
            <ul>
                <li>数据分析</li>
                <li>客户管理</li>
                <li>型号管理</li>
                <li>品牌管理</li>
                <li>BOM管理</li>
                <li>询价管理</li>
                <li>报价管理</li>
                <li>库存管理</li>
                <li>服务管理</li>
                <li>平台详情</li>
            </ul>
        </div>
        <div id="detail">
            <iframe id="analysis" src="Xanalysis.html"></iframe>
            <iframe id="user" src="Xuser.html"></iframe>
            <iframe id="pn" src="Xpn.html"></iframe>
            <iframe id="mfg" src="Xmfg.html"></iframe>
            <iframe id="bom" src="Xbom.html"></iframe>
            <iframe id="rfq" src="Xrfq.html"></iframe>
            <iframe id="quote" src="Xquote.html"></iframe>
            <iframe id="hotstk" src="Xhotstk.html"></iframe>
            <iframe id="service" src="Xservice.html"></iframe>
            <iframe id="aboutus" src="Xaboutus.html"></iframe>
        </div>
    </div>
</div>
</body>

</html>