
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>维群网--管理平台</title>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="/js/public.js"></script>
    <script  type="text/javascript" src="/js/admin.js"></script>
</head>
<body>
<div id="box">
    <div id="box1">
        <span>维群网--管理后台</span>
        <a onclick="index()">前台首页</a>
    </div>
    <div id="box2">
        <div id="admnav">
            <ul>
                <li>数据分析</li>
                <li>客户管理</li>
                <li>型号管理</li>
                <li>品牌管理</li>
                <li>BOM管理</li>
                <li>询价管理</li>
                <li>报价管理</li>
                <li>库存管理</li>
                <li>服务管理</li>
                <li>平台详情</li>
                <li>广告管理</li>
            </ul>
        </div>
        <div id="detail">
            <iframe id="analysis" src="/Xanalysis"></iframe>
            <iframe id="user" src="/user/Xuser"></iframe>
            <iframe id="pn" src="/Xpn"></iframe>
            <iframe id="mfg" src="/Xmfg"></iframe>
            <iframe id="bom" src="/bomlist/Xbom"></iframe>
            <iframe id="rfq" src="/Xrfq"></iframe>
            <iframe id="quote" src="/Xquote"></iframe>
            <iframe id="hotstk" src="/Xhotstk"></iframe>
            <iframe id="service" src="/Xservice"></iframe>
            <iframe id="aboutus" src="/queryAboutus"></iframe>
            <iframe id="advs" src="/Xadvs"></iframe>
        </div>
    </div>
</div>
</body>

</html>