<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--BOM成本核算</title>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/BOM.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="/js/public.js"></script>
    <script  type="text/javascript" src="/js/BOM.js"></script>
 </head>

<body>

<div id="header">
    <div id="head">
        <span th:if="${user?.uid!=null}" th:text="您好："></span>
        <span style="color: red;" th:if="${user?.uid!=null}">
                <a id="userInfo" th:text="${user.nickname}" th:href="@{'/queryUserDetail/'+${user?.uid}}" target="_blank">用户信息</a>
            </span>
        <span id="topnav">
                <a id="admin" th:if="${10002==user?.uid}" onclick="admin()">后台管理</a>
            <a id="logon" th:if="${user?.uid==null}" href="/user/login" >登陆</a>
            <a id="regist" th:if="${user?.uid==null}" onclick="regist()">注册</a>
            <a id="exit" th:if="${user?.uid!=null}" href="/user/login" >退出</a>
            </span>
    </div>
</div>
<div id="naver">
    <div id="nav">
        <div id="logo">
            <img src="/images/logo.png" alt=""/>
        </div>
        <a class="nav1" onclick="index()">首页</a>
        <a class="nav1" onclick="findPrice()">查价</a>
        <a class="nav1" onclick="rfq()">询价</a>
        <a class="nav1" onclick="quote()">报价</a>
        <a class="nav1" onclick="vendor()">供应商</a>
        <a class="nav1" onclick="BOM()">BOM</a>
    </div>
</div>

    <div class="box">
        <div id="banner">
            <img src="/images/banner.jpg" alt=""/>
        </div>
    </div>

    <div class="box">
        <div id="bom">
            <p><span id="title">BOM成本核算</span></p>
            <form th:action="@{${bomam!=null}?'/bom/modifybom':'/bomlist/uploadbom'}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:if="${bomam!=null}" name="bid" th:value="${bomam?.bid}"/>
                <dl>
                   <dd>  产品名称 ：<input name="bname" th:value="${bomam?.bname}" type="text"/></dd>
                </dl>
                <dl>
                    <dd> 产品类别 ：<select name="btype">
                        <option th:each="bom:${btypeList}" th:value="${bom.btypeId}" th:selected="${bomam?.btype==bom.btypeId}" th:text="${bom.btypeName}">消费电子</option>
                    </select></dd>
                </dl>
                <dl>
                    <dd> 计划用量 ：<input name="buse" type="number" th:value="${bomam?.buse}" />套/月</dd>
                </dl>
                <dl th:if="${bomam==null}">
                    <dd> 报价方式 ：<select  name="isauto">
                        <option  value="0" selected="selected">智能匹配，即刻下载结果</option>
                        <option   value="1">要求人工确认，24小时后下载结果</option>
                    </select></dd>
                </dl>
                <dl th:if="${bomam==null}">
                    <dd>上传BOM：<input name="multipartFile" type="file"/></dd>(备注：上传格式为4个字段：型号、描述、品牌、单机用量。)
                </dl>
                <dl>
                    <dd><input type="submit"/></dd>
                </dl>
            </form>
            <br/>
        </div>
    </div>

    <div class="box">
        <div id="content">
            <table style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
                <tr><th colspan="8" style="font-size: 20px">我的BOM列表</th></tr>
                <tr class="headline">
                    <th>产品编号</th>
                    <th>产品名称</th>
                    <th>产品类别</th>
                    <th>计划用量(套/月)</th>
                    <th>回复方式</th>
                    <th>更新日期</th>
                    <th>下载</th>
                    <th>修改</th>
                </tr>
                <tr th:class="${index.odd}?'odd'" th:each="bom,index:${pager?.datas}">
                    <td th:text="${bom.bid}">Model001</td>
                    <td th:text="${bom.bname}">手机主板</td>
                    <td th:text="${bom.btypeName}">通信产品</td>
                    <td th:text="${bom.buse}">30000</td>
                    <td th:text="${bom.isauto==0}?'智能匹配':'人工确认'">人工确认</td>
                    <td th:text="${#dates.format(bom.bdate,'yyyy-MM-dd')}">2018-12-17</td>
                    <td><a th:href="@{'/bomlist/downloadbom/'+${bom.bid}+'/'+${bom.bname}}">下载</a></td>
                    <td><a th:href="@{'/bom/querybom?bid='+${bom.bid}}">修改</a></td>
                </tr>

            </table>
        </div>
    </div>

<div class="box">
    <div id="pageCount">
        <a th:href="@{/bom/searchbom(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{/bom/searchbom(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="@{/bom/searchbom(currentPage=${i})}" th:text="${i}"></a>
        </span>
        <a th:href="@{/bom/searchbom(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
        <a th:href="@{/bom/searchbom(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>

    </div>
</div>
    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>