<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--BOM成本核算</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/BOM.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/BOM.js"></script>
 </head>

<body>

<div id="header">
    <div id="head">
        <div id="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div id="uname" onclick="company()">深圳市模板电子科技有限公司</div>
        <a id="admin" onclick="admin()">后台管理</a>
        <a id="logon" onclick="logon()">登陆</a>
        <a id="regist" onclick="regist()">注册</a>
        <a id="userInfo" onclick="userInfo()">用户信息</a>
    </div>
</div>
<div id="naver">
    <div id="nav">
        <a class="nav1" onclick="index()">首页</a>
        <a class="nav1" onclick="findPrice()">查价</a>
        <a class="nav1" onclick="rfq()">询价</a>
        <a class="nav1" onclick="quote()">报价</a>
        <a class="nav1" onclick="vendor()">供应商</a>
        <a class="nav1" onclick="BOM()">BOM</a>
    </div>
</div>

    <div class="box">
        <div id="banner">
            <img src="images/banner.jpg" alt=""/>
        </div>
    </div>

    <div class="box">
        <div id="bom">
            <p><span id="title">BOM成本核算</span></p>
            <form action="">
                <dl>
                    <dd> 产品编号 ：<input type="text"/></dd>
                </dl>
                <dl>
                   <dd>  产品名称 ：<input type="text"/></dd>
                </dl>
                <dl>
                    <dd> 产品类别 ：<select >
                        <option value="消费电子" selected>消费电子</option>
                        <option value="通信产品">通信产品</option>
                        <option value="医疗产品">医疗产品</option>
                        <option value="工业控制">工业控制</option>
                        <option value="高端科技">高端科技</option>
                    </select></dd>
                </dl>
                <dl>
                    <dd> 计划用量 ：<input type="text"/>套/月</dd>
                </dl>
                <dl>
                    <dd> 报价方式 ：<select >
                        <option value="电智能匹配，即刻下载结果" selected>智能匹配，即刻下载结果</option>
                        <option value="人工确认，24小时后下载结果">要求人工确认，24小时后下载结果</option>
                    </select></dd>
                </dl>
                <dl>
                    <dd>上传BOM：<input type="file"/></dd>(备注：上传格式为4个字段：型号、描述、品牌、单机用量。)
                </dl>
                <dl>
                    <dd><button>&nbsp;提交上传&nbsp;</button></dd>
                </dl>
            </form>
            <br/>
        </div>
    </div>

    <div class="box">
        <div id="content">
            <table cellspacing="15px">
                <tr><th style="font-size: 20px">我的BOM列表</th></tr>
                <tr>
                    <th>产品编号</th>
                    <th>产品名称</th>
                    <th>产品类别</th>
                    <th>计划用量(套/月)</th>
                    <th>回复方式</th>
                    <th>更新日期</th>
                    <th>下载</th>
                    <th>删除</th>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>人工确认</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
                <tr>
                    <td>Model001</td>
                    <td>手机主板</td>
                    <td>通信产品</td>
                    <td>30000</td>
                    <td>智能匹配</td>
                    <td>2018-12-17</td>
                    <td>下载</td>
                    <td>删除</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="pageCount_box">
        <div id="pageCount">
            <button class="button">首页</button>
            <span class="num">1</span>
            <span class="num">2</span>
            <span class="num">3</span>
            <span class="num">4</span>
            <span class="num">5</span>
            <span class="num">6</span>
            <span class="num">7</span>
            <span class="num">8</span>
            <span class="num">9</span>
            <span class="num">10</span>
            <button class="button">末页</button>
        </div>
    </div>
    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>