<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>维群网--公司详情页</title>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/company.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/company.js"></script>
 </head>

<body>

<div id="header">
    <div id="head">
        <span th:if="${user?.uid!=null}" th:text="您好："></span>
        <span style="color: red;" th:if="${user?.uid!=null}">
                <a id="userInfo" th:text="${user.nickname}" th:href="@{'/queryUserDetail/'+${user?.uid}}" target="_blank">用户信息</a>
            </span>
        <span id="topnav">
                <a id="admin" th:if="${10002==user?.uid}" onclick="admin()">后台管理</a>
            <a id="logon" th:if="${user?.uid==null}" href="/user/login" >登陆</a>
            <a id="regist" th:if="${user?.uid==null}" onclick="regist()">注册</a>
            <a id="exit" th:if="${user?.uid!=null}" href="/user/login" >退出</a>
            </span>
    </div>
</div>
<div id="naver">
    <div id="nav">
        <div id="logo">
            <img src="/images/logo.png" alt=""/>
        </div>
        <a class="nav1" onclick="index()">首页</a>
        <a class="nav1" onclick="findPrice()">查价</a>
        <a class="nav1" onclick="rfq()">询价</a>
        <a class="nav1" onclick="quote()">报价</a>
        <a class="nav1" onclick="vendor()">供应商</a>
        <a class="nav1" onclick="BOM()">BOM</a>
    </div>
</div>

<div class="box">
    <div id="banner">
        <img src="/images/banner.jpg" alt=""/>
    </div>
</div>
    <div class="box">
        <div id="title" style="padding: 20px">
            <span th:text="${company}">深圳市模板电子科技有限公司</span>
        </div>
    </div>


    <div id="comInfo_box">
        <div id="comInfo">
                <table width="100%" style="table-layout:fixed" cellpadding="0" cellspacing="0" >
                    <tr>
                        <td width="100px" align="right">联系人：</td>
                        <td width="390px" class="inputFm1" th:text="${contact}">张三</td>
                        <td width="100px" align="right">电话：</td>
                        <td width="390px" class="inputFm1" th:text="${tel}">0755-23864596</td>
                    </tr>
                    <tr>
                        <td align="right">手机：</td>
                        <td class="inputFm1" th:text="${mobile}">0755-23864596</td>
                        <td align="right">QQ：</td>
                        <td class="inputFm1" th:text="${QQ}">56871568986</td>
                    </tr>
                    <tr>
                        <td align="right">微信：</td>
                        <td class="inputFm1" th:text="${wechat}">56871568986</td>
                        <td align="right">网址：</td>
                        <td class="inputFm1" th:text="${website}">www.alibaba.com</td>
                    </tr>
                    <tr>
                        <td align="right" >地址：</td>
                        <td colspan="3" class="inputFm1" th:text="${addr}">深圳市福田区华强北路32号华强大厦A座4020室</td>
                    </tr>
                    <tr>
                        <td align="right">主营产品：</td>
                        <td colspan="3" class="inputFm1" >
                            <textarea th:text="${business}" rows="5">主营ST、TI、Maxim、ON等知名品牌元器件</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">公司介绍：</td>
                        <td colspan="3" class="inputFm1" >
                            <textarea th:text="${profile}"  rows="20">主营ST、TI、Maxim、ON等知名品牌元器件</textarea>
                        </td>
                    </tr>
                </table>
        </div>
    </div>

    <div class="box">
        <div id="hotStk">
            <div>热卖清单 在线订购</div>
            <table cellspacing="15px" width="100%">
                <tr class="headline">
                    <th>型号</th>
                    <th>品牌</th>
                    <th>包装</th>
                    <th>品质标准</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>交期</th>
                    <th>更新日期</th>
                    <th>操作</th>
                </tr>
                <tr th:each="stk:${page.datas}">
                    <td th:text="${stk.pn}">STM8S903K3T6CTR</td>
                    <td th:text="${stk.mfg}">ST</td>
                    <td th:text="${stk.pack}">TSSOP20</td>
                    <td th:text="${stk.qltyName}">原装正品</td>
                    <td th:text="${stk.dtcd}">2018+</td>
                    <td th:text="${stk.qty}">56850</td>
                    <td th:text="${stk.price}">102.56</td>
                    <td th:text="${stk.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(stk.hdate,'yyyy-MM-dd')}">2018-12-27</td>
                    <td><a th:href="${stk.buylink}" th:text="购买"></a></td>
                </tr>
            </table>
        </div>
    </div>

<div class="box">
    <div id="pageCount">
        <a href="/index" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="${'/index/'+(pager.currentPage-1)}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="'/index/'+${i}" th:text="${i}"></a>
        </span>
        <a th:href="${'/index/'+(pager.currentPage+1)}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
        <a th:href="${'/index/'+pager.totalPage}" th:if="${pager.currentPage>1}">末页</a>
    </div>
</div>

    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>