<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>维群网--公司详情页</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/company.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/company.js"></script>
 </head>

<body>

<div id="header">
    <div id="head">
        <div id="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div id="uname" onclick="company()">深圳市模板电子科技有限公司</div>
        <a id="admin" onclick="admin()">后台管理</a>
        <a id="logon" onclick="logon()">登陆</a>
        <a id="regist" onclick="regist()">注册</a>
        <a id="userInfo" onclick="userInfo()">用户信息</a>
    </div>
</div>
<div id="naver">
    <div id="nav">
        <a class="nav1" onclick="index()">首页</a>
        <a class="nav1" onclick="findPrice()">查价</a>
        <a class="nav1" onclick="rfq()">询价</a>
        <a class="nav1" onclick="quote()">报价</a>
        <a class="nav1" onclick="vendor()">供应商</a>
        <a class="nav1" onclick="BOM()">BOM</a>
    </div>
</div>

    <div class="box">
        <div id="title">
            <span>公 司 详 情</span>
        </div>
    </div>

    <div id="comInfo_box">

        <div id="comInfo">
            <form action="">
                <table>
                    <tr>
                        <td><img src="images/elecland.jpg" alt=""/></td>
                        <td class="inputFm1">深圳市模板电子科技有限公司</td>
                    </tr>
                    <tr>
                        <td align="right">评级：</td>
                        <td class="inputFm1">SZBCAAZZZZ</td>
                    </tr>
                    <tr>
                        <td align="right">地址：</td>
                        <td class="inputFm1">深圳市福田区华强北路32号华强大厦A座4020室</td>
                    </tr>
                    <tr>
                        <td align="right">联系人：</td>
                        <td class="inputFm1">张三</td>
                    </tr>
                    <tr>
                        <td align="right">电话：</td>
                        <td class="inputFm1">0755-23864596</td>
                    </tr>
                    <tr>
                        <td align="right">QQ：</td>
                        <td class="inputFm1">56871568986</td>
                    </tr>
                    <tr>
                        <td align="right">网址：</td>
                        <td class="inputFm1">www.alibaba.com</td>
                    </tr>
                    <tr>
                        <td align="right">主营产品：</td>
                        <td class="inputFm1">主营ST、TI、Maxim、ON等知名品牌元器件</td>
                    </tr>
                    <tr>
                        <td align="right">公司介绍：</td>
                        <td><textarea rows="6" cols="100" style="font-size: 20px">主营ST、TI、Maxim、ON等知名品牌元器件</textarea></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div class="box">
        <div id="hotStk">
            <table cellspacing="15px">
                <tr><th style="font-size: 24px">库存推广清单</th></tr>
                <tr>
                    <th>型号</th>
                    <th>品牌</th>
                    <th>品质标准</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>交期</th>
                    <th>更新日期</th>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
                <tr>
                    <td>STM8S903K3T6CTR</td>
                    <td>Sample brand</td>
                    <td>原装正品</td>
                    <td>2018+</td>
                    <td>56850</td>
                    <td>102.56</td>
                    <td>深圳现货</td>
                    <td>2018-12-31</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="pageCount_box">
        <div id="pageCount">
            <button class="button">首页</button>
            <span class="num">1</span>
            <span class="num">2</span>
            <span class="num">3</span>
            <span class="num">4</span>
            <span class="num">5</span>
            <span class="num">6</span>
            <span class="num">7</span>
            <span class="num">8</span>
            <span class="num">9</span>
            <span class="num">10</span>
            <button class="button">末页</button>
        </div>
    </div>

    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>