<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--查价</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/findPrice.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/findPrice.js"></script>
 </head>

<body>

<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>

    <div class="box">
        <div id="banner">
            <img src="images/banner2.jpg" alt=""/>
        </div>
    </div>
    <div class="box">
        <div id="search">
            <form  id="qltyForm" action="/findPrice" >
                <select  id="ptypeList" name="pntype">
                    <option value="0">全部</option>
                    <option th:each="pntype:${pntypeList}" th:selected="${condition.pntype&gt;0} and ${condition.pntype==pntype.id} "   th:value="${pntype.id}" th:text="${pntype.name}"></option>
                </select>
                <input type="text" id="pnInput" name="pn" placeholder="请输入查询型号"/>
                <button id="searchBtn" value="搜索">查询报价</button>
            </form>
        </div>
    </div>


<div class="box">
    <div id="quoteList">
        <table style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
            <tr>
                <th colspan="8">最新报价(仅显示前20)</th>
            </tr>
            <tr class="headline">
                <th>询 价 单 号</th>
                <th>公 司 名 称</th>
                <th>规 格 型 号</th>
                <th>品牌</th>
                <th>品质要求</th>
                <th>批次</th>
                <th>数量</th>
                <th>价格</th>
                <th>货期</th>
            </tr>
            <tr th:class="${index.odd}?'odd'" th:each="Rfq,index:${rfqList}">
                <td th:text="${Rfq.rfqno}">I890600001</td>
                <td th:text="${Rfq.company}">深圳市模板电子科技有限公司</td>
                <td th:text="${Rfq.pn}">STM8S003F3P6TR</td>
                <td th:text="${Rfq.mfg}">品牌</td>
                <td th:text="${Rfq.qltyName}">原装正品</td>
                <td th:text="${Rfq.dtcd}">1830+</td>
                <td th:text="${Rfq.qty}">500000</td>
                <td th:text="${Rfq.tp}">11.2563</td>
                <td th:text="${Rfq.dtime}">深圳现货</td>
            </tr>
            <tr>
                <td th:if="${rfqList.size()==0}">无记录</td>
            </tr>
        </table>
    </div>
    </div>



    <div class="box">
        <div id="hotStk">
            <table style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
                <tr><th colspan="8" style="font-size: 20px">推荐货源(仅显示前20)</th></tr>
                <tr class="headline">
                    <th>公 司 名 称</th>
                    <th>规 格 型 号</th>
                    <th>品牌</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>价格</th>
                    <th>货期</th>
                    <th>更新日期</th>
                </tr>

                <tr th:class="${index.odd}?'odd'" th:each="hotstk,index:${hotstkList}">
                    <td th:text="${hotstk.company}">深圳市模板电子科技有限公司</td>
                    <td th:text="${hotstk.pn}">STM8S003F3P6TR</td>
                    <td th:text="${hotstk.mfg}">品牌</td>
                    <td th:text="${hotstk.qltyName}">品牌</td>
                    <td th:text="${hotstk.dtcd}">1830+</td>
                    <td th:text="${hotstk.qty}">500000</td>
                    <td th:text="${hotstk.price}">11.2563</td>
                    <td th:text="${hotstk.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(hotstk.hdate,'yyyy-MM-dd')}">更新日期</td>
                </tr>
                <tr>
                    <td th:if="${hotstkList.size()==0}">无记录</td>
                </tr>
            </table>
        </div>
    </div>


<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>