<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--查价</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/findPrice.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/findPrice.js"></script>
 </head>

<body>

    <div id="header">
        <div id="head">
            <div id="logo">
                <img src="images/logo.png" alt="">
            </div>
            <div id="uname" onclick="company()">深圳市模板电子科技有限公司</div>
            <a id="admin" onclick="admin()">后台管理</a>
            <a id="logon" onclick="logon()">登陆</a>
            <a id="regist" onclick="regist()">注册</a>
            <a id="userInfo" onclick="userInfo()">用户信息</a>
        </div>
    </div>
    <div id="naver">
        <div id="nav">
            <a class="nav1" onclick="index()">首页</a>
            <a class="nav1" onclick="findPrice()">查价</a>
            <a class="nav1" onclick="rfq()">询价</a>
            <a class="nav1" onclick="quote()">报价</a>
            <a class="nav1" onclick="vendor()">供应商</a>
            <a class="nav1" onclick="BOM()">BOM</a>
        </div>
    </div>

    <div id="banner_box">
        <img id="banner" src="images/banner.jpg" alt="">
    </div>
    <div class="box">
        <div id="search">
            <form  id="qltyForm" action="/findPrice" >
                <select  id="ptypeList" name="pntype">
                    <option value="0">全部</option>
                    <option th:each="pntype:${pntypeList}" th:selected="${condition.pntype&gt;0} and ${condition.pntype==pntype.id} "   th:value="${pntype.id}" th:text="${pntype.name}"></option>
                </select>
                <input type="text" id="pnInput" name="pn" placeholder="请输入查询型号"/>
                <button id="searchBtn" value="搜索">查询报价</button>
            </form>
        </div>
    </div>


<div class="box">
    <div id="quoteList">
        <table cellspacing="10px">
            <tr>
                <th colspan="8">最新报价(仅显示前20)</th>
            </tr>
            <tr>
                <th>询 价 单 号</th>
                <th>公 司 名 称</th>
                <th>规 格 型 号</th>
                <th>品质要求</th>
                <th>批次</th>
                <th>数量</th>
                <th>价格</th>
                <th>货期</th>
            </tr>
            <tr th:each="Rfq:${rfqList}">
                <td th:text="${Rfq.rfqno}">I890600001</td>
                <td th:text="${Rfq.company}">深圳市模板电子科技有限公司</td>
                <td th:text="${Rfq.pn}">STM8S003F3P6TR</td>
                <td th:text="${Rfq.qltyName}">原装正品</td>
                <td th:text="${Rfq.dtcd}">1830+</td>
                <td th:text="${Rfq.qty}">500000</td>
                <td th:text="${Rfq.tp}">11.2563</td>
                <td th:text="${Rfq.dtime}">深圳现货</td>
            </tr>
            <tr>
                <td th:if="${rfqList.size()==0}">无记录</td>
            </tr>
        </table>
    </div>
    </div>



    <div class="box">
        <div id="hotStk">
            <table cellspacing="10px">
                <tr><th colspan="8" style="font-size: 20px">推荐货源(仅显示前20)</th></tr>
                <tr>
                    <th>公 司 名 称</th>
                    <th>规 格 型 号</th>
                    <th>品牌</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>价格</th>
                    <th>货期</th>
                    <th>更新日期</th>
                </tr>
                <!--<tr>-->
                  <!--<td>深圳市模板测试电子有限公司</td>-->
                  <!--<td>STM8S903K3T6CTR</td>-->
                    <!--<td>Sample brand</td>-->
                  <!--<td>原装正品</td>-->
                  <!--<td>2018+</td>-->
                  <!--<td>56850</td>-->
                  <!--<td>102.56</td>-->
                  <!--<td>深圳现货</td>-->
                  <!--<td>2018-12-27</td>-->
                <!--</tr>-->

                <tr th:each="hotstk:${hotstkList}">
                    <td th:text="${hotstk.company}">深圳市模板电子科技有限公司</td>
                    <td th:text="${hotstk.pn}">STM8S003F3P6TR</td>
                    <td th:text="${hotstk.mfg}">品牌</td>
                    <td th:text="${hotstk.qltyName}">品牌</td>
                    <td th:text="${hotstk.dtcd}">1830+</td>
                    <td th:text="${hotstk.qty}">500000</td>
                    <td th:text="${hotstk.price}">11.2563</td>
                    <td th:text="${hotstk.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(hotstk.hdate,'yyyy-MM-dd')}">更新日期</td>
                </tr>
                <tr>
                    <td th:if="${hotstkList.size()==0}">无记录</td>
                </tr>
            </table>
        </div>
    </div>


    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>