<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--库存推广</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/hotStk.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/hotStk.js"></script>
 </head>

<body>
    <div id="header">
        <div id="head">
            <div id="logo">
                <img src="images/logo.png" alt="">
            </div>
            <div id="uname" onclick="company()">深圳市模板电子科技有限公司</div>
            <a id="admin" onclick="admin()">后台管理</a>
            <a id="logon" onclick="logon()">登陆</a>
            <a id="regist" onclick="regist()">注册</a>
            <a id="userInfo" onclick="userInfo()">用户信息</a>
        </div>
    </div>
    <div id="naver">
        <div id="nav">
            <a class="nav1" onclick="index()">首页</a>
            <a class="nav1" onclick="findPrice()">查价</a>
            <a class="nav1" onclick="rfq()">询价</a>
            <a class="nav1" onclick="quote()">报价</a>
            <a class="nav1" onclick="vendor()">供应商</a>
            <a class="nav1" onclick="BOM()">BOM</a>
        </div>
    </div>

    <div class="box">
        <div id="title">
            <span>库  存  推  广</span>
        </div>
    </div>

<div id="h1_box">
    <div id="h1">
        <div id="uLogo"><img src="images/elecland.jpg" alt=""/></div>
        <div id="cName">深圳市模板电子科技有限公司</div>
        <span class="upload">上传清单</span>
        <span class="upload">下载模板</span>
    </div>
</div>
<div class="box">
    <div id="hotStk">
        <table cellspacing="10px">
            <tr><th colspan="7" style="font-size: 20px">库存推广清单</th></tr>
            <tr>
                <th>型号</th>
                <th>品牌</th>
                <th>品质标准</th>
                <th>批次</th>
                <th>数量</th>
                <th>单价</th>
                <th>交期</th>
                <th>更新日期</th>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
            <tr>
                <td>STM8S903K3T6CTR</td>
                <td>ST</td>
                <td>原装正品</td>
                <td>2018+</td>
                <td>56850</td>
                <td>102.56</td>
                <td>深圳现货</td>
                <td>2018-12-27</td>
            </tr>
        </table>
    </div>
</div>

    <div class="box">
        <div id=pageCount>
            <span>首页</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>末页</span>
        </div>
    </div>

    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>