<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>唯群网--首页</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/public.css"  type="text/css"   />
    <link  href="/css/index.css"  type="text/css"  rel="stylesheet"  />
    <script src="/js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="/js/public.js"></script>
</head>

<body>
    <!--引入头部信息-->
    <div th:include="pageHead :: pageHeadIndex"></div>
    <div id="banner1">
    <div id="bannerDiv">
        <div class="container">
            <div class="wrap" style="left:-470px;">
                <img src="/images/IC2.jpg" alt=""/>
                <img src="/images/5G1.jpg" alt=""/>
                <img src="/images/5G2.jpg" alt=""/>
                <img src="/images/5G3.jpg" alt=""/>
                <img src="/images/IC1.jpg" alt=""/>
                <img src="/images/IC2.jpg" alt=""/>
                <img src="/images/5G1.jpg" alt=""/>
            </div>
            <div class="buttons">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
            </div>
            <a href="javascript:;" class="arrow arrow_left">&lt;</a>
            <a href="javascript:;" class="arrow arrow_right">&gt;</a>
        </div>

        <div id="board" style="overflow: hidden">
            <div class="myscroll">
                <table style="margin-left: 10px">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th th:text="${title}" >最新实单，先到先得！</th>
                    </tr>
                    <tr><td th:text="${content1}">1</td></tr>
                    <tr><td th:text="${content2}">2</td></tr>
                    <tr><td th:text="${content3}">3</td></tr>
                    <tr><td th:text="${content4}">4</td></tr>
                    <tr><td th:text="${content5}">5</td></tr>
                    <tr><td th:text="${content6}">6</td></tr>
                    <tr><td th:text="${content7}">7</td></tr>
                    <tr><td th:text="${content8}">8</td></tr>
                    <tr><td th:text="${content9}">9</td></tr>
                    <tr><td th:text="${content10}">10</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div id="search">

        <form  id="form">
            <table>
                <tr>
                    <td>
                        <select  id="ptypeList" name="pntype">
                           <option value="0">全部</option>
                           <option th:each="pntype:${pntypeList}" th:selected="${pager.condition.pntype&gt;0} and ${pager.condition.pntype==pntype.id} "   th:value="${pntype.id}" th:text="${pntype.name}"></option>
                        </select>
                    </td>
                    <td><input type="search" id="pnInput" name="pn" th:value="${pager.condition.pn}"  placeholder="请输入查询型号"/></td>
                    <td><input id="searchBtn" type="submit" value="搜索"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="box">
    <div id="content">
        <form action="">
            <table style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
                <tr class="headline">
                    <th>询价单号</th>
                    <th>&nbsp; &nbsp;公 司 名 称</th>
                    <th>规格型号</th>
                    <th>品牌</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>要求货期</th>
                    <th>询价日期</th>
                    <th>操作</th>
                </tr>
                <tr th:class="${index.odd}?'odd'" th:each="Rfq,index:${pager.datas}">
                    <td th:text="${Rfq.rfqno}">I890600001</td>
                    <td ><a th:text="${Rfq.company}" th:href="@{'/user/company/'+${Rfq.uid}}" target="_blank">深圳市模板电子科技有限公司</a></td>
                    <td th:text="${Rfq.pn}">STM8S003F3P6TR</td>
                    <td th:text="${Rfq.mfg}">ST</td>
                    <td th:text="${Rfq.qltyName}">原装正品</td>
                    <td th:text="${Rfq.dtcd}">1830+</td>
                    <td th:text="${Rfq.qty}">500000</td>
                    <td th:text="${Rfq.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(Rfq.rdate,'yyyy-MM-dd')}">2019-04-23</td>
                    <td><button type="button" th:value="${Rfq.rfqno}" onclick="inquote(this.value)">报价</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="box">
    <div id="pageCount">
          <span th:if="${pager.totalPage>0}">
        <a th:href="@{/index(currentPage=1,pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{/index(currentPage=${pager.currentPage} - 1,pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:if="${pager.totalPage>0}" th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10 &amp;&amp; i&lt;=pager.totalPage}" th:href="@{/index(currentPage=${i},pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:text="${i}"></a>
        </span>
        <a th:href="@{/index/(currentPage=${pager.currentPage} + 1,pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
        <a th:href="@{/index(currentPage=${pager.totalPage},pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
          </span>
    </div>
</div>

    <!--引入页脚-->
    <div th:include="pageFooter :: pageFooterIndex"></div>
    <script  type="text/javascript" src="js/index.js"></script>
</body>
</html>