<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--首页</title>
    <link rel="stylesheet" href="css/public.css"  type="text/css"   />
    <link  href="css/index.css"  type="text/css"  rel="stylesheet"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>


</head>

<body>
    <div id="header">
        <div id="head">
            <div id="uname" onclick="company()">深圳市模板电子科技有限公司</div>
            <a id="admin" onclick="admin()">后台管理</a>
            <span style="color: red;" th:if="${user!=null}" th:text="'欢迎登录:'+${user.nickname}"></span>
            <a id="logon" th:if="${user==null}" href="/user/login" >登陆</a>
            <a id="regist" onclick="regist()">注册</a>
            <a id="userInfo" onclick="userInfo()">用户信息</a>
        </div>
    </div>
    <div id="naver">
        <div id="nav">
            <div id="logo">
                <img src="images/logo.png" alt="">
            </div>
            <a class="nav1" onclick="index()">首页</a>
            <a class="nav1" onclick="findPrice()">查价</a>
            <a class="nav1" onclick="rfq()">询价</a>
            <a class="nav1" onclick="quote()">报价</a>
            <a class="nav1" onclick="vendor()">供应商</a>
            <a class="nav1" onclick="BOM()">BOM</a>
        </div>
    </div>

<div id="banner">
    <!--<div id="img">-->
        <!--<img src="images/banner.jpg" alt="">-->
    <!--</div>-->
    <div class="bannerDiv">

        <div class="bannerMiddle bannerImage1">
            <div class="bannerArrow"><p class="pleft"></p> </div>
            <div class="bannerArrow" style="float: right;"><p class="pright"></p></div>
        </div>

    </div>
</div>
<div class="box">
    <div id="search">

        <form  id="form">
            <table>
                <tr>
                    <td>
                        <select  id="ptypeList" name="pntype">
                           <option value="0">全部</option>
                           <option th:each="pntype:${pntypeList}" th:selected="${pager.condition.pntype&gt;0} and ${pager.condition.pntype==pntype.id} "   th:value="${pntype.id}" th:text="${pntype.name}"></option>
                        </select>
                    </td>
                    <td><input type="search" id="pnInput" name="pn" th:value="${pager.condition.pn}"  placeholder="请输入查询型号"/></td>
                    <td><input id="searchBtn" type="submit" value="搜索"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="box">
    <div id="content">
        <form action="">
            <table style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
                <tr>
                    <td>询价单号</td>
                    <td>公 司 名 称</td>
                    <td>规格型号</td>
                    <td>品质要求</td>
                    <td>批次</td>
                    <td>数量</td>
                    <td>价格(元)</td>
                    <td>要求货期</td>
                    <td>询价日期</td>
                    <td>操作</td>
                </tr>
                <tr th:class="${index.odd}?'odd'" th:each="Rfq,index:${pager.datas}">
                    <td th:text="${Rfq.rfqno}">I890600001</td>
                    <td th:text="${Rfq.company}">深圳市模板电子科技有限公司</td>
                    <td th:text="${Rfq.pn}">STM8S003F3P6TR</td>
                    <td th:text="${Rfq.qltyName}">原装正品</td>
                    <td th:text="${Rfq.dtcd}">1830+</td>
                    <td th:text="${Rfq.qty}">500000</td>
                    <td th:text="${Rfq.tp}">11.2563</td>
                    <td th:text="${Rfq.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(Rfq.rdate,'yyyy-MM-dd')}">2019-04-23</td>
                    <td><button type="button" th:value="${Rfq.rfqno}" onclick="inquote(this.value)">报价</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="box">
    <div id="pageCount">
        <a th:href="@{/index(currentPage=1,pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{/index(currentPage=${pager.currentPage} - 1,pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i<pager.currentPage+10&& i<=pager.totalPage}" th:href="@{/index(currentPage=${i},pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:text="${i}"></a>
        </span>
        <a th:href="@{/index/(currentPage=${pager.currentPage} + 1,pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage<pager.totalPage}">下一页</a>
        <a th:href="@{/index(currentPage=${pager.totalPage},pntype=${pager.condition.pntype},pn=${pager.condition.pn})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
    </div>
</div>

<div id="belowNav_box">
    <div id="belowNav" onclick="platInfo()">
        <a onclick="guide()">用户指南</a>
        <a onclick="platInfo()">操作流程</a>
        <a onclick="platInfo()">免责声明</a>
        <a onclick="platInfo()">关于我们</a>
        <a onclick="platInfo()">联系我们</a>
    </div>
</div>

<div class="box">
    <div id="vr">
        <span>版权所有：深圳市大唯科技有限公司</span>
        <span>备案号：©唯群网 粤ICP备17005480号-2</span>
    </div>
</div>

    <script  type="text/javascript" src="js/index.js"></script>
</body>
</html>