<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <title>唯群网--登录</title>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/login.js"></script>
 </head>

<body>

<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndexTitle"></div>
    <div id="login_box">
        <div id="login">
           <div id="logPic">
               <img src="/images/logPic.jpg" alt=""/>
           </div>
            <form id="logForm" name="logForm" method="post" action="/user/login">
                <table width="100%" border="0" cellspacing="0" cellpadding="15">
                    <tr>
                        <td width="120" height="80" align="right">用户名：</td>
                        <td><input name="nickname" type="text" size="18" /></td>
                    </tr>
                    <tr>
                        <td height="80" align="right">密码：</td>
                        <td><input name="pwd" type="password" size="18"/></td>
                    </tr>
                    <tr>
                        <td height="80" align="right">&nbsp;</td>
                        <td>
                            <button class="button" type="submit" style="width: 80px;height: 40px; font-size: 20px" >登陆</button>
                           <a class="button" >忘记密码？</a>
                            <a class="button" onclick="regist()" >免费注册</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>