<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--平台信息</title>
    <link rel="stylesheet" href="css/public.css"  type="text/css"   />
    <link  href="css/platInfo.css"  type="text/css"  rel="stylesheet"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/platInfo.js"></script>

</head>

<body>
<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndexTitle"></div>


<div class="box">
    <div id="banner">
        <img src="images/banner3.jpg" alt=""/>
    </div>
    <div id="box2">
        <div id="category">
            <ul>
                <li id="guide" style="color: #FF0000">用户指南</li>
                <li id="flow">操作流程</li>
                <li id="claim">免责声明</li>
                <li id="aboutus">关于我们</li>
                <li id="contactus">联系我们</li>
            </ul>
        </div>
        <div id="detail">
            <p th:text="${Platinfo.guide}" style="display: block;padding: 10px"></p>
            <p th:text="${Platinfo.flow}" style="display: none;padding: 10px"></p>
            <p th:text="${Platinfo.claim}" style="display: none;padding: 10px"></p>
            <p th:text="${Platinfo.aboutus}" style="display: none;padding: 10px"></p>
            <p th:text="${Platinfo.contactus}" style="display: none;padding: 10px"></p>
        </div>
    </div>
</div>


<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>