<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--报价</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/quote.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/quote.js"></script>
    <script  type="text/javascript" src="/js/rfq.js"></script>
 </head>

<body>
<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>

    <div id="quoteSubmit_box" th:if="${rfq!=null}">
        <div id="quoteSubmit">
            <table width="100%">
                <tr class="headline">
                    <th>询 价 单号</th>
                    <th>公司 名称</th>
                    <th>型 号</th>
                    <th>品牌</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>目标价</th>
                    <th>要求货期</th>
                    <th>询价日期</th>
                </tr>
                <tr>
                    <td th:text="${rfq.rfqno}">I8090600001</td>
                    <td><a th:text="${rfq.company}" th:href="@{'/user/company/'+${rfq.uid}}" target="_blank">深圳市模板电子科技有限公司</a></td>
                    <td th:text="${rfq.pn}">STM8S903K3T6CTR</td>
                    <td th:text="${rfq.mfg}">品牌</td>
                    <td th:text="${rfq.qltyName}">原装正品</td>
                    <td th:text="${rfq.dtcd}" > 2018+</td>
                    <td th:text="${rfq.qty}" >56850</td>
                    <td th:text="${rfq.tp}">102.56</td>
                    <td th:text="${rfq.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(rfq.rdate,'yyyy-MM-dd')}">报价日期</td>
                </tr>
            </table>
            <div id="fillQuote">
                <form method="post" action="/addquote">
                    <table  style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
                        <tr><th colspan="7">填写报价单：</th></tr>
                        <input type="hidden" name="rfqno" th:value="${rfq.rfqno}"/>
                        <tr>
                            <td><input name="pn" type="text" placeholder="型号" th:value="${rfq.pn}"  onblur="checkRfqPn()"/></td>
                            <td id="mfg" style="font-size: 18px;" ><input type="text" name="mfg" size="8" th:value="${rfq.mfg}"/></td>
                            <td>
                                <select name="qlty" type="text" id="ptypeList">
                                    <option th:each="ql:${qltyTypeList}" th:value="${ql.id}" style="font-size: 18px" th:text="${ql.name}">原装正品</option>
                                </select>
                            </td>
                            <td><input  name="dtcd" type="text" size="8" placeholder="批次"  /></td>
                            <td><input  name="qty" type="text" size="8" placeholder="数量" /></td>
                            <td><input name="price" type="text" size="8" placeholder="单价" /></td>
                            <td><input  name="dtime" type="text" placeholder="货期"  /></td>
                        </tr>
                        <tr>
                            <td id="alert" style="color: #FF0000"></td>
                            <td><input id="create" type="button" style="display: none;cursor: pointer" value="新建型号" onclick="addPn()"/></td>
                            <td style="text-align: center" colspan="2">是否底价: <input type="radio" checked="checked" name="sure" value="1"/>是<input type="radio" name="sure" value="0"/>否</td>
                            <td style="text-align: center" colspan="2">是否公开: <input type="radio" checked="checked" name="isOpen" value="1"/>是<input type="radio" name="isOpen" value="0"/>否</td>
                            <td style="text-align: center"><input type="submit" value="提交报价"/></td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>

<div class="box">
<div id="quoteList">
    	<table style="border-collapse:separate; border-spacing:0px 15px;width: 100%">
            <tr><th colspan="10" style="font-size: 24px">我的报价清单</th></tr>
            <tr class="headline">
                <th>方式</th>
                <th>单号</th>
                <th>型号</th>
                <th>品牌</th>
                <th>质量标准</th>
                <th>批次</th>
                <th>数量</th>
                <th>价格</th>
                <th>交货方式</th>
                <th>日期</th>
                <th>提交方式</th>
            </tr>
            <span th:each="quote:${pager.datas}">
            <tr class="odd" >
                <td>询价</td>
                <td th:text="${quote.rfq.rfqno}">I8090600001</td>
                 <td th:text="${quote.rfq.pn}">STM8S903K3T6CTR</td>
                <td th:text="${quote.rfq.mfg}">品牌</td>
                <td th:text="${quote.rfq.qltyName}">原装正品</td>
                <td th:text="${quote.rfq.dtcd}">2018+</td>
                <td th:text="${quote.rfq.qty}">56850</td>
                <td th:text="${quote.rfq.tp}">102.56</td>
                <td th:text="${quote.rfq.dtime}">深圳现货</td>
                <td th:text="${#dates.format(quote.rfq.rdate,'yyyy-MM-dd')}">2018-12-18</td>
                <td th:text="${quote.rfq.isOpen==1}?${quote.rfq.company}:'匿名询价'">深圳市模板电子有限公司</td>
            </tr>
            <tr>
                <td>报价</td>
                <td th:text="${quote.qotno}">I8090600001</td>
                <td th:text="${quote.pn}">STM8S903K3T6C</td>
                <td th:text="${quote.mfg}">品牌</td>
                <td th:text="${quote.qltyName}">原装正品</td>
                <td th:text="${quote.dtcd}">2018+</td>
                <td th:text="${quote.qty}">56850</td>
                <td th:text="${quote.price}">102.56</td>
                <td th:text="${quote.dtime}">深圳现货</td>
                <td th:text="${#dates.format(quote.qdate,'yyyy-MM-dd')}">2018-12-23</td>
                <td th:text="${quote.isOpen==1}?'实名报价':'匿名报价'"></td>
            </tr>
            </span>
            <tr th:if="${pager.datas.size()==0}">
                <td colspan="10" onclick="index()" id="back">请返回首页，查找感兴趣的询价来报价。</td>
            </tr>
        </table>
        <div th:if="${pager.datas.size()==0}" style="margin: 0 auto;padding-top: 10px;padding-left: 200px">
            <img src="/images/noQuote.jpg" alt=""/>
        </div>
    </div>
</div>

<div class="box">
    <div id="pageCount">
          <span th:if="${pager.totalPage>0}">
        <a th:href="@{'/inquote1'(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{'/inquote1'+${pager.condition.rfqno}(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:if="${pager.totalPage>0}" th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="@{'/inquote1'(currentPage=${i})}" th:text="${i}"></a>
        </span>
        <a th:href="@{'/inquote1'(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
        <a th:href="@{'/inquote1'(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
          </span>
    </div>
</div>

<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>