<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--报价</title>
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/quote.css">
    <script src="/js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="/js/quote.js"></script>
    <script  type="text/javascript" src="/js/rfq.js"></script>
 </head>

<body>

	<div class="box">
        <div id="head" >
            <div id="logo">
                <img src="/static/images/logo.png" alt="">
            </div>
            <div id="uname" onclick="company()">深圳市模板电子科技有限公司</div>
            <a id="admin" onclick="admin()">后台管理</a>
            <a id="logon" onclick="logon()">登陆</a>
            <a id="regist" onclick="regist()">注册</a>
            <a id="userInfo" onclick="userInfo()">用户信息</a>
            </div>
     </div>
     <div class="box">
         <div id="nav">
             <a class="nav1" onclick="index()">首页</a>
             <a class="nav1" onclick="findPrice()">查价</a>
             <a class="nav1" onclick="rfq()">询价</a>
             <a class="nav1" onclick="quote()">报价</a>
             <a class="nav1" onclick="vendor()">供应商</a>
             <a class="nav1" onclick="BOM()">BOM</a>
         </div>
     </div>

    <div id="quoteSubmit_box" th:if="${rfq!=null}">
        <div id="quoteSubmit">
            <table cellspacing="15px">
                <tr>
                    <th>询 价 单号</th>
                    <th>公司 名称</th>
                    <th>型 号</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>目标价</th>
                    <th>要求货期</th>
                    <th>询价日期</th>
                </tr>
                <tr>
                    <td th:text="${rfq.rfqno}">I8090600001</td>
                    <td th:text="${rfq.company}">深圳市模板测试电子有限公司</td>
                    <td th:text="${rfq.pn}">STM8S903K3T6CTR</td>
                    <td th:text="${rfq.qltyName}">原装正品</td>
                    <td th:text="${rfq.dtcd}" > 2018+</td>
                    <td th:text="${rfq.qty}" >56850</td>
                    <td th:text="${rfq.tp}">102.56</td>
                    <td th:text="${rfq.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(rfq.rdate,'yyyy-MM-dd')}">报价日期</td>
                </tr>
            </table>
            <div id="fillQuote">
                <form method="post" action="/addquote">
                    <table>
                        <tr><th>填写报价单：</th></tr>
                        <input type="hidden" name="rfqno" th:value="${rfq.rfqno}"/>
                        <tr>
                            <td><input class="pnL"  name="pn" type="text" placeholder="型号"  onblur="checkRfqPn()" /></td>
                            <td>
                                <select class="qltyL" name="qlty" type="text" id="ptypeList">
                                    <option th:each="ql:${qltyTypeList}" th:value="${ql.id}" th:text="${ql.name}">原厂代理</option>
                                </select>
                            </td>
                            <td id="mfg" style="color: red;font-size: 8px;">请填写型号</td>
                            <td><input class="dtcdL" name="dtcd" type="text" placeholder="批次"  /></td>
                            <td><input class="qtyL" name="qty" type="text" placeholder="数量" /></td>
                            <td><input class="priceL" name="price" type="text" placeholder="单价" /></td>
                            <td><input class="dtimeL" name="dtime" type="text" placeholder="货期"  /></td>
                            </td>
                        </tr>
                        <tr>
                            <td>是否实单: <input type="radio" checked="checked" name="sure" value="1">是<input type="radio" name="sure" value="0">否</td>
                            <td>是否公开: <input type="radio" checked="checked" name="isOpen" value="1">是<input type="radio" name="isOpen" value="0">否</td>
                            <td><input type="submit" value="提交报价"/>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>

<div class="box">
<div id="quoteList">
    	<table cellspacing="15px">
            <tr><th colspan="10" style="font-size: 24px">我的报价清单</th></tr>
            <tr>
                <td>方式</td>
                <td>单号</td>
                <td>型号</td>
                <td>质量标准</td>
                <td>批次</td>
                <td>数量</td>
                <td>价格</td>
                <td>交货方式</td>
                <td>日期</td>
                <td>提交方式</td>
            </tr>
            <span th:each="quote:${pager.datas}">
            <tr style="background-color: gray;">
                <td>询价</td>
                <td th:text="${quote.rfq.rfqno}">I8090600001</td>
                 <td th:text="${quote.rfq.pn}">STM8S903K3T6CTR</td>
                <td th:text="${quote.rfq.qltyName}">原装正品</td>
                <td th:text="${quote.rfq.dtcd}">2018+</td>
                <td th:text="${quote.rfq.qty}">56850</td>
                <td th:text="${quote.rfq.tp}">102.56</td>
                <td th:text="${quote.rfq.dtime}">深圳现货</td>
                <td th:text="${#dates.format(quote.rfq.rdate,'yyyy-MM-dd')}">2018-12-18</td>
                <td th:text="${quote.rfq.isOpen==1}?${quote.rfq.company}:'匿名询价'">深圳市模板电子有限公司</td>
            </tr>
            <tr style="background-color: #f6f6f6;">
                <td>报价</td>
                <td th:text="${quote.qotno}">I8090600001</td>
                <td th:text="${quote.pn}">STM8S903K3T6C</td>
                <td th:text="${quote.qltyName}">原装正品</td>
                <td th:text="${quote.dtcd}">2018+</td>
                <td th:text="${quote.qty}">56850</td>
                <td th:text="${quote.price}">102.56</td>
                <td th:text="${quote.dtime}">深圳现货</td>
                <td th:text="${#dates.format(quote.qdate,'yyyy-MM-dd')}">2018-12-23</td>
                <td th:text="${quote.isOpen==1}?'实名报价':'匿名报价'"></td>
            </tr>
            </span>
        </table>
    </div>
</div>

<div class="box">
    <div id="pageCount">
        <a th:href="@{'/inquote/'+${pager.condition.rfqno}(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{'/inquote/'+${pager.condition.rfqno}(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i<pager.currentPage+10&& i<=pager.totalPage}" th:href="@{'/inquote/'+${pager?.condition?.rfqno}(currentPage=${i})}" th:text="${i}"></a>
        </span>
        <a th:href="@{'/inquote/'+${pager.condition.rfqno}(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage<pager.totalPage}">下一页</a>
        <a th:href="@{'/inquote/'+${pager.condition.rfqno}(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>

    </div>
</div>

<div id="belowNav_box">
    <div id="belowNav">
        <a onclick="platInfo()">用户指南</a>
        <a onclick="platInfo()">操作流程</a>
        <a onclick="platInfo()">免责声明</a>
        <a onclick="platInfo()">关于我们</a>
        <a onclick="platInfo()">联系我们</a>
    </div>
</div>

<div class="box">
    <div id="vr">
        <span>版权所有：深圳市大唯科技有限公司</span>
        <span>备案号：©唯群网 粤ICP备17005480号-2</span>
    </div>
</div>
</body>
</html>