<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--注册</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/regist.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="/js/public.js"></script>
    <script  type="text/javascript" src="/js/regist.js"></script>

 </head>

<body>

<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>

    <div id="regist1_box">
        <div id="regist1">
              <form id="registForm" name="registForm" method="post" action="/user/addregist">
                  <table>
                        <tr>
                            <td>用户名：<input id="nickname" name="nickname" pattern="/^[a-zA-Z][a-zA-Z0-9]{3,15}$/" type="text" size="18" required="required"/><span id="user_prompt">用户名由英文字母和数字组成的4-16位字符，以字母开头</span></td>
                        </tr>
                        <tr>
                            <td>密 &nbsp; 码：<input id="pwd" name="pwd" pattern="/[A-Za-z0-9]{4,10}/" type="password" size="18" required="required"/><span id="pwd_prompt">密码由英文字母和数字组成的4-10位字符</span></td>
                        </tr>
                        <tr>
                            <td>手 &nbsp; 机：<input id="mobile" name="mobile" type="text" size="18" required="required"/> <span onclick="verifyCode(this)">发送验证码</span><span id="mobile_prompt"></span></td>
                        </tr>
                        <tr>
                            <td>验证码：<input id="veriCode" name="veriCode" type="text" size="18"/></td>
                        </tr>
                      <tr>
                            <td height="40" align="center">《唯群网服务条款》</td>
                      </tr>
                        <tr>
                            <td><textarea id="userLaw" cols="10" rows="8" style="padding: 20px;border: solid 1px lightgrey;">
     唯群网要求用户必须遵守国家的相关网络法律法规，必须承诺不制作、复制、查阅和传播下列信息：
         1、反对宪法所确定的基本原则的；
         2、危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
         3、损害国家荣誉和利益的；
         4、煽动民族仇恨、民族歧视，破坏民族团结的；
         5、破坏国家宗教政策，宣扬邪教和封建迷信的；
         6、散布谣言，扰乱社会秩序，破坏社会稳定的；
         7、散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的、不受欢迎的；
         8、侮辱或者诽谤他人，侵害他人合法权益的；
         9、含有法律、行政法规禁止的其他内容的。</textarea> </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="isAgree" type="radio" value="1"/>同意
                                <input name="isAgree" type="radio" value="0"  checked="checked"/>不同意
                            </td>
                      </tr>
                        <tr>
                            <td><input class="button" type="button" onclick="registerUser()" name="regist" value="提交注册"/> </td>
                        </tr>
                  </table>
            </form>
        </div>
    </div>

<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>