<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--询价</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/rfq.css"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="/js/public.js"></script>
    <script  type="text/javascript" src="/js/rfq.js"></script>
 </head>

<body>
<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>
<div class="box">
    <div id="banner">
        <img src="/images/rfqBanner.jpg" alt=""/>
    </div>
</div>

	<div id="rfqSubmit_box" >
		<form id="rfqSubmit" action="/addrfq" method="post" name="rfqSubmit">
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="250" align="right">规格型号：</td>
                    <td ><input  id="pnInput" name="pn" type="text"  /></td>
                    <td ><input class="button" type="button" name="searchBtn" onclick="checkRfqPnX()" value="查询型号"/>
                        <input class="button" type="button" name="addBtn" onclick="addPn()" value="新建型号"/></td>
                </tr>

                  <tr>
                      <td width="150" align="right">品牌：</td>
                      <td id="mfg" style="color: red;"><select name="mfg" required="required"></select></td>
                      <td colspan="">&nbsp;</td>
                  </tr>
                 <tr>
                     <td width="250px" align="right">产品种类：</td>
                      <td><select  id="ptypeList" name="pntype">
                     <option th:each="pntype:${pntypeList}" style="font-size: 18px"  th:value="${pntype.id}" th:text="${pntype.name}"></option>
                 </select>
                     </td>
                     <td ></td>
                 </tr>
                <tr>
                    <td align="right"> 品质要求：</td>
                    <td style="color: blue">
                        <select id="qltyForm" name="qlty">
                           <option  th:each="qlty:${qltyTypeList}" style="font-size: 18px;" th:value="${qlty.id}" th:text="${qlty.name}">原装正品</option>
                        </select>*请参考下方注释*
                    </td>
                    <td></td>
                </tr>
                  <tr>
                      <td align="right">批次：</td>
                      <td ><input class="rfqForm" name="dtcd" type="text" /></td>
                      <td></td>
                  </tr>
                <tr>
                <td align="right">询价数量：</td>
                <td ><input class="rfqForm" name="qty" type="text" /></td>
                    <td></td>
            </tr>
            <tr>
                <td align="right">目标价格：</td>
                <td><input class="rfqForm" name="tp" type="text" /></td>
                <td ></td>
            </tr>
          <tr>
              <td align="right">交货周期：</td>
              <td><input class="rfqForm" name="dtime" type="text" /></td>
              <td></td>
          </tr>
            <tr>
                <td align="right">是否实单：</td>
                 <td>是<input type="radio" checked="checked" name="sure" value="1" />
                  否<input type="radio" name="sure"  value="0"/></td>
                <td></td>
            </tr>
                  <input type="hidden" name="isOpen" id="isOpen"/>
            <tr>
                <td align="right">&nbsp;</td>
                <td><button type="button" onclick="commitRfq(1)" class="button" style="width: 100px;">公开询价</button>
                    <button type="button" onclick="commitRfq(0)" class="button" style="width: 100px;">匿名询价</button></td>
                <td></td>
            </tr>
            </table>
            </form>
 	</div>
	<div style="margin: 0 auto; width: 1000px; padding: 20px">
        <table cellspacing="10px" style="padding-left: 150px; color: blue">
            <tr><td>原厂代理：产品来自原厂或授权代理，可追溯原厂，包括品质追踪，技术支持，环保信息获取等。</td></tr>
            <tr><td>原装正品：产品本身是全新原装正品。保证来自原厂，且所有的电气特性符合原厂出厂规格。</td></tr>
            <tr><td>旧货库存：产品本身是原装正品，但是生产批次超过2年以上。没有被使用或翻新过。引脚有可能氧化。</td></tr>
            <tr><td>替代型号：具有同等电气特性的其他产品，包括其他品牌的同型号产品，翻新产品，国产山寨产品等。</td></tr>
        </table>
    </div>
    <div class="box">
        <div id="rfqList">
            <table style="border-collapse:separate; border-spacing:0px 15px;width: 100%;" >
                <tr class="headline">
                <th>询价单号</th>
                <th>型号</th>
                    <th>品牌</th>
                <th>品质标准</th>
                <th>批次</th>
                <th>数量</th>
                <th>单价</th>
                <th>要求货期</th>
                <th>询价日期</th>
                <th>操作</th>
                </tr>
                <tr th:class="${index.odd}?'odd'" th:each="rfq,index:${pager.datas}">
                   <td th:text="${rfq.rfqno}">I8090600001</td>
                   <td th:text="${rfq.pn}">STM8S903K3T6C</td>
                    <td th:text="${rfq.mfg}">ST</td>
                   <td th:text="${rfq.qltyName}">原装正品</td>
                   <td th:text="${rfq.dtcd}">2018+</td>
                   <td th:text="${rfq.qty}">56850</td>
                   <td th:text="${rfq.tp}">102.56</td>
                   <td th:text="${rfq.dtime}">深圳现货</td>
                   <td th:text="${#dates.format(rfq.rdate,'yyyy-MM-dd')}">2018-12-31</td>
                   <td><a th:href="${'/checkRfqDetail/'+rfq.rfqno}">查看报价</a></td>
                </tr>
            </table>
            <div th:if="${pager.datas.size()==0}" style="margin: 0 auto;padding-top: 20px; padding-left: 150px">
                <img src="/images/noRfq.jpg" alt=""/>
            </div>
        </div>
	</div>

<div class="box">
    <div id="pageCount">
        <span th:if="${pager.totalPage>0}">
        <a th:href="@{/jumprfq(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{/jumprfq(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
        <span  th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="@{/jumprfq(currentPage=${i})}" th:text="${i}"></a>
        </span>
        <a th:href="@{/jumprfq(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage &lt; pager.totalPage}">下一页</a>
        <a th:href="@{/jumprfq(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
</span>
    </div>
</div>

<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>