<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--询价明细</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/rfqDetail.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="utf-8" type="text/javascript" src="js/public.js"></script>
    <script charset="utf-8" type="text/javascript" src="js/rfqDetail.js"></script>
 </head>

<body>

<div id="header">
    <div id="head">
        <span style="color: red;" th:if="${user!=null}" th:text="'您好:'+${user.nickname}+'，欢迎登录!'"></span>
        <a id="admin"  onclick="admin()">后台管理</a>
        <a id="logon" th:if="${user==null}" href="/user/login" >登陆</a>
        <a id="regist" th:if="${user==null}" onclick="regist()">注册</a>
        <a id="exit" th:if="${user!=null}" href="/user/login" >退出</a>
        <a id="userInfo" onclick="userInfo()">用户信息</a>
    </div>
</div>
    <div id="naver">
        <div id="nav">
            <div id="logo">
                <img src="images/logo.png" alt=""/>
            </div>
            <a class="nav1" onclick="index()">首页</a>
            <a class="nav1" onclick="findPrice()">查价</a>
            <a class="nav1" onclick="rfq()">询价</a>
            <a class="nav1" onclick="quote()">报价</a>
            <a class="nav1" onclick="vendor()">供应商</a>
            <a class="nav1" onclick="BOM()">BOM</a>
        </div>
    </div>

    <div id="rfqTarget_box">
        <div id=rfqTarget>
            <table cellspacing="10px">
                <tr><th colspan="7" style="text-align: left;font-size: 20px;color: #FF0000" >我发出的询价：</th></tr>
                <tr>
                    <th>询价单号</th>
                    <th>规格型号</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>目标价</th>
                    <th>货期</th>
                    <th>询价日期</th>
                </tr>
                <tr>
                <tr>
                    <td th:text="${rfq.rfqno}">I8090600001</td>
                    <td th:text="${rfq.company}">深圳市模板测试电子有限公司</td>
                    <td th:text="${rfq.pn}">STM8S903K3T6CTR</td>
                    <td th:text="${rfq.qltyName}">原装正品</td>
                    <td th:text="${rfq.dtcd}" > 2018+</td>
                    <td th:text="${rfq.qty}" >56850</td>
                    <td th:text="${rfq.tp}">102.56</td>
                    <td th:text="${rfq.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(rfq.rdate,'yyyy-MM-dd')}">报价日期</td>
                </tr>
                </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <div id="quoteList">
            <table cellspacing="10px">
                <tr><th colspan="7" style="text-align: left;font-size: 20px;color: #FF0000">收到的报价：</th></tr>
                <tr>
                    <th>报价单号</th>
                    <th>公司名称</th>
                    <th>型号</th>
                    <th>品质标准</th>
                    <th>批次+</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>货期</th>
                    <th>报价日期</th>
                </tr>
                <tr th:each="Quote:${pager.datas}">
                    <td th:text="${Quote.qotno}">I890600001</td>
                    <td th:text="${Quote.company}">深圳市模板电子科技有限公司</td>
                    <td th:text="${Quote.pn}">STM8S003F3P6TR</td>
                    <td th:text="${Quote.qltyName}">原装正品</td>
                    <td th:text="${Quote.dtcd==null}?'':${Quote.dtcd}+'+'">1830+</td>
                    <td th:text="${Quote.qty}">500000</td>
                    <td th:text="${Quote.price}">11.2563</td>
                    <td th:text="${Quote.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(Quote.qdate,'yyyy-MM-dd')}">2019-04-23</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="box">
        <div id="pageCount">
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
            <span th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${i})}" th:text="${i}"></a>
        </span>
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
            <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>

        </div>
    </div>

    <div id="belowNav_box">
        <div id="belowNav">
            <a onclick="platInfo()">用户指南</a>
            <a onclick="platInfo()">操作流程</a>
            <a onclick="platInfo()">免责声明</a>
            <a onclick="platInfo()">关于我们</a>
            <a onclick="platInfo()">联系我们</a>
        </div>
    </div>

    <div class="box">
        <div id="vr">
            <span>版权所有：深圳市大唯科技有限公司</span>
            <span>备案号：©唯群网 粤ICP备17005480号-2</span>
        </div>
    </div>
</body>
</html>