<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--询价明细</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/rfqDetail.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="utf-8" type="text/javascript" src="/js/public.js"></script>
    <script charset="utf-8" type="text/javascript" src="/js/rfqDetail.js"></script>
 </head>

<body>

<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>
<div class="box">
    <div id="banner">
        <img src="/images/banner3.jpg" alt=""/>
    </div>
</div>
    <div id="rfqTarget_box">
        <div id="rfqTarget">
            <table cellspacing="10px">
                <tr><th colspan="7" style="text-align: left;font-size: 18px;color: #FF0000" >我发出的询价：</th></tr>
                <tr class="headline">
                    <th>询价单号</th>
                    <th>公司名称</th>
                    <th>规格型号</th>
                    <th>品牌</th>
                    <th>品质要求</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>目标价</th>
                    <th>货期</th>
                    <th>询价日期</th>
                </tr>
                <tr>
                    <td th:text="${rfq.rfqno}">I8090600001</td>
                    <td th:text="${rfq.company}">深圳市模板测试电子有限公司</td>
                    <td th:text="${rfq.pn}">STM8S903K3T6CTR</td>
                    <td th:text="${rfq.mfg}">品牌</td>
                    <td th:text="${rfq.qltyName}">原装正品</td>
                    <td th:text="${rfq.dtcd}" > 2018+</td>
                    <td th:text="${rfq.qty}" >56850</td>
                    <td th:text="${rfq.tp}">102.56</td>
                    <td th:text="${rfq.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(rfq.rdate,'yyyy-MM-dd')}">报价日期</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <div id="quoteList">
            <table cellspacing="10px" >
                <tr><th colspan="7" style="text-align: left;font-size: 18px;color: #FF0000">收到的报价：</th></tr>
                <tr th:if="${pager.datas.size()!=0}">
                    <th>报价单号</th>
                    <th>公司名称</th>
                    <th>型号</th>
                    <th>品牌</th>
                    <th>品质标准</th>
                    <th>批次+</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>货期</th>
                    <th>报价日期</th>
                </tr>
                <tr th:each="Quote:${pager.datas}">
                    <td th:text="${Quote.qotno}">I890600001</td>
                    <td th:text="${Quote.company}">深圳市模板电子科技有限公司</td>
                    <td th:text="${Quote.pn}">STM8S003F3P6TR</td>
                    <td th:text="${Quote.mfg}">品牌</td>
                    <td th:text="${Quote.qltyName}">原装正品</td>
                    <td th:text="${Quote.dtcd==null}?'':${Quote.dtcd}+'+'">1830+</td>
                    <td th:text="${Quote.qty}">500000</td>
                    <td th:text="${Quote.price}">11.2563</td>
                    <td th:text="${Quote.dtime}">深圳现货</td>
                    <td th:text="${#dates.format(Quote.qdate,'yyyy-MM-dd')}">2019-04-23</td>
                </tr>
                <tr>
                    <td th:if="${pager.datas.size()==0}">暂时没有收到报价。。。</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box">
        <div id="pageCount">
              <span th:if="${pager.totalPage>0}">
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
            <span th:if="${pager.totalPage>0}" th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${i})}" th:text="${i}"></a>
        </span>
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
            <a th:href="@{'/checkRfqDetail/'+${pager.condition.rfqno}(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
            <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
              </span>
        </div>
    </div>

<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>