<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>唯群网--用户信息</title>
    <link rel="icon" href="/images/uiqun.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/uiqun.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/public.js"></script>
    <script charset="gb2312" type="text/javascript" src="js/user.js"></script>
 </head>

<body>
<!--引入头部信息-->
<div th:include="pageHead :: pageHeadIndex"></div>

        <div class="box" style="margin-top: 40px">
            <div id="title">
                <span>用户信息管理</span>
            </div>
        </div>

    <div id="hl_box">
        <div id="hlBox">
            <table  width="100%"  style="margin-top: 40px">
                <tr>
                <th th:text="${company}" style="font-size: 30px">模板科技</th>
                <th th:if="${iscert}==0">未认证</th>
                <th th:if="${iscert}==1">已认证</th>
                <th ><a th:href="@{'/queryHotstks/'+${uid}}">推广库存</a></th>
                </tr>
            </table>
        </div>
    </div>
<div id="form_box">
    <form id="userDetail" method="post" action="/updateUser">
        <input type="hidden" name="uid" th:value="${uid}"/>
    <table width="100%" border="solid 1px lavender" cellpadding="0" cellspacing="0" >
        <tr>
            <td class="lname">昵称:</td>
            <td><input th:value="${nickname}" class="rname" name="nickname"  type="text" size="30"/></td>
            <td class="lname">区域:</td>
            <td style="font-size: 14px;color: dimgray;">
                <select  name="area" style="font-size: 18px;">
                    <option style="font-size: 18px" th:each="area:${areas}"  th:value="${area.areaId}" th:text="${area.areaName}"></option>
                </select> &nbsp;&nbsp;*区域划分请参考下方注释*
            </td>
        </tr>
        <tr>
            <td class="lname">公司名称:</td>
            <td><input th:value="${company}" class="rname"  name="company" type="text" size="30" /></td>
            <td class="lname">公司简称:</td>
            <td><input th:value="${co}" class="rname"  name="co" type="text" size="30" /></td>
        </tr>
        <tr>
            <td class="lname">联系人:</td>
            <td><input name="contact" class="rname" type="text" size="30" th:value="${contact}"/></td>
            <td class="lname">职位:</td>
            <td><input name="title" class="rname" type="text" size="30" th:value="${title}"/></td>
        </tr>
        <tr>
            <td class="lname">电话:</td>
            <td><input name="tel" class="rname" type="text" size="30" th:value="${tel}"/></td>
            <td class="lname">QQ:</td>
            <td><input name="qq" class="rname" type="text" size="30" th:value="${QQ}"/></td>
        </tr>
        <tr>
            <td class="lname">微信:</td>
            <td><input name="wechat" class="rname" type="text" size="30" th:value="${wechat}"/></td>
            <td class="lname">邮箱:</td>
            <td><input name="email" class="rname" type="text" size="30" th:value="${email}"/></td>
        </tr>

        <tr>
            <td class="lname">网址:</td>
            <td><input name="website" class="rname" type="text" size="30" th:value="${website}"/></td>
            <td class="lname">公司税号:</td>
            <td><input name="certid" class="rname" type="text" size="30" th:value="${certid}"/></td>
        </tr>

        <tr>
            <td class="lname">地址:</td>
            <td colspan="3"><input name="addr" class="rname" type="text" size="90" th:value="${addr}"/></td>
        </tr>
        <tr>
            <td class="lname">个人爱好:</td>
            <td colspan="3"><input name="hobby" class="rname" type="text" size="90" th:value="${hobby}"/></td>
        </tr>
        <tr>
            <td class="lname">主营产品:</td>
            <td colspan="3"><textarea rows="5" cols="95" name="business" th:text="${business}"></textarea></td>
        </tr>
        <tr>
            <td class="lname">公司介绍:</td>
            <td colspan="3"><textarea rows="25" cols="95" name="profile" th:text="${profile}"></textarea></td>
        </tr>
        <tr>
            <td class="lname">&nbsp;</td>
            <td colspan="3"><input type="submit" value="提交修改" style="width: 100px; font-size: 18px;cursor: pointer;"/></td>
        </tr>
    </table>
  </form>
    <div id="note">
        <table cellspacing="10px" width="100%">
            <tr><td style="font-size: 20px">区域名词注释：</td></tr>
            <tr><td>东北——辽宁省、吉林省、黑龙江省。</td><td>华北——河北省、山西省、天津市和内蒙古。</td> </tr>
            <tr><td>华中——湖北省，湖南省，河南省。</td><td>西北——宁夏 、新疆、青海 、陕西 、甘肃。</td> </tr>
            <tr><td>华东——江苏、浙江、安徽、福建、江西、山东。</td><td>西南——四川、云南、贵州、重庆市、西藏。</td></tr>
            <tr><td>华南——广东省、广西省、海南省。</td><td>海外——中国以外地区。</td></tr>
        </table>
    </div>
</div>
<!--引入页脚-->
<div th:include="pageFooter :: pageFooterIndex"></div>
</body>
</html>