<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/vendor.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/vendor.js"></script>

</head>

<body>
    <div>
        <form action="addService">
            <table cellspacing="10px">
                <tr>
                   <th colspan="2">平台信息维护</th>
                </tr>
                <tr>
                    <td>用户指南</td>
                    <td><textarea name="guide" cols="100" rows="15"></textarea></td>
                </tr>
                <tr>
                    <td>操作流程</td>
                    <td><textarea name="process" cols="100" rows="15"></textarea></td>
                </tr>
                <tr>
                    <td>免责声明</td>
                    <td><textarea name="claim" cols="100" rows="15"></textarea></td>
                </tr>
                <tr>
                    <td>关于我们</td>
                    <td><textarea name="aboutus"cols="100" rows="15"></textarea></td>
                </tr>
                <tr>
                    <td>联系我们</td>
                    <td><textarea name="contactus" cols="100" rows="15"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="提交"/></td>
                </tr>
             </table>
        </form>
    </div>
</body>
</html>