<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/vendor.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/vendor.js"></script>

</head>

<body>
    <div>
        <table cellspacing="15px">
            <tr><th colspan="6">网站基本信息一览表</th></tr>
            <tr>
                <td>在线人数:</td>
                <td>100</td>
                <td>最近30天访客数:</td>
                <td>1000</td>
                <td>所有历史访客数:</td>
                <td>15000</td>
            </tr>
        </table>
    </div>
    <div>
        <div id="rfqs">
            <table cellspacing="15px">
                <tr><th>最近30天询价次数前50名</th></tr>
                <tr>
                    <td>STM8S003F3P6</td><td>1586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1156次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1006次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>986次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>1586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1156次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1006次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>986次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>1586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1156次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1006次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>986次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>1586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1156次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1006次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>986次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>1586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1156次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1006次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>986次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>1586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1156次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1006次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>986次</td>
                </tr>
            </table>
        </div>
        <div id="finds">
            <table cellspacing="15px">
                <tr><th>最近30天查询次数前50名</th></tr>
                <tr>
                    <td>STM8S003F3P6</td><td>3586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>2286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1856次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1506次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>3586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>2286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1856次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1506次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>3586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>2286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1856次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1506次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>3586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>2286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1856次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1506次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>3586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>2286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1856次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1506次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>1286次</td>
                </tr>
                <tr>
                    <td>STM8S003F3P6</td><td>3586次</td>
                </tr>
                <tr>
                    <td>LM358</td><td>2286次</td>
                </tr>
                <tr>
                    <td>STM32F103C8T6</td><td>1856次</td>
                </tr>
                <tr>
                    <td>TMS320F2812TBFA</td><td>1506次</td>
                </tr>
                <tr>
                    <td>VIPER12</td><td>1286次</td>
                </tr>
            </table>
        </div>
    </div>
</body>

<style>
    #rfqs{
        float: left;
    }
    #finds{
        float: left;
        margin-left: 50px;
    }
</style>
</html>