<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/admin.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/admin.js"></script>
</head>

<body>

    <div id="content">
        <table cellspacing="10px">
            <tr><th colspan="6" style="font-size: 24px;padding: 20px;">BOM清单管理</th></tr>
            <tr>
                <th>Bom编号</th>
                <th style="text-align: left">产品名称</th>
                <th>产品类别</th>
                <th>月用量</th>
                <th style="text-align: left">回复方式</th>
                <th style="text-align: left">更新时间</th>
            </tr>
            <span  th:each="bom:${pager?.datas}" style="display: inline-block;border-bottom: solid 2px white;">
                <tr>
                    <td th:text="${bom.bid}">Model001</td>
                    <td th:text="${bom.bname}">手机主板</td>
                    <td th:text="${bom.btypeName}">通信产品</td>
                    <td th:text="${bom.buse}">30000</td>
                    <td th:text="${bom.isauto==0}?'智能匹配':'人工确认'">人工确认</td>
                    <td th:text="${#dates.format(bom.bdate,'yyyy-MM-dd')}">2018-12-17</td>
                </tr>
                <tr>
                    <td></td>
                    <td th:text="${bom.company}" style="color: blue;">深圳市模板电子科技有限公司</td>
                     <td><a th:href="@{'/bomlist/downloadbom/'+${bom.bid}+'/'+${bom.bname}}">下载</a></td>
                    <td><a th:href="@{'/bomlist/deleteXbom/'+${bom.bid}}">删除</a></td>
                    <td colspan="2">
                        <form th:action="${'/bomlist/modifybom/' + bom.bid }" method="post" enctype="multipart/form-data">
                            <input type="file" name="multipartFile"/>
                            <input type="submit" value="上传"/>
                        </form>
                    </td>
                </tr>
            </span>
        </table>
    </div>
    <div class="box">
        <div id="pageCount">
              <span th:if="${pager.totalPage>0}">
            <a th:href="@{/bomlist/Xbom(currentPage=1)}" th:if="${pager.currentPage>1}">首页</a>
            <a th:href="@{/bomlist/Xbom(currentPage=${pager.currentPage} - 1)}" th:if="${pager.currentPage>1}">上一页</a>
            <span th:if="${pager.totalPage>0}" th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10&amp;&amp; i&lt;=pager.totalPage}" th:href="@{/bomlist/Xbom(currentPage=${i})}" th:text="${i}"></a>
        </span>
            <a th:href="@{/bomlist/Xbom(currentPage=${pager.currentPage}+1)}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
            <a th:href="@{/bomlist/Xbom(currentPage=${pager.totalPage})}" th:if="${pager.currentPage>1}">末页</a>
            <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
              </span>
        </div>
    </div>
</body>
</html>