<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/vendor.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/vendor.js"></script>

</head>

<body>

    <div id="content">
        <table cellspacing="10px">
            <tr><th colspan="10">BOM清单管理</th></tr>
            <tr>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>产品类别</th>
                <th>每月用量</th>
                <th>回复方式</th>
                <th>更新时间</th>
                <th colspan="4">操作</th>

            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
            <tr>
                <td>Model001</td>
                <td>手机主板</td>
                <td>通信产品</td>
                <td>30000</td>
                <td>人工确认</td>
                <td>2018-12-16</td>
                <td><input type="button" value="下载"/></td>
                <td><input type="button" value="删除"/></td>
                <td><input type="file"/></td>
                <td><input type="button" value="上传"/></td>
            </tr>
        </table>
    </div>

</body>
</html>