<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/admin.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/admin.js"></script>

</head>

<body>
<input type="hidden" id="AlertMessage" th:value="${AlertMessage}" />
    <div>
            <table cellspacing="10px">
                <tr><th colspan="2">品牌管理</th></tr>
                <tr>
                    <td>
                    <form action="/queryOneMfg" method="post">
                        <input type="text" th:value="${mfg?.mid}" name="mid"  placeholder="输入品牌"/>
                        <input type="submit" value="查询"/>
                    </form>
                    </td>
                </tr>
                <form action="/toUpdateMfg" method="post" enctype="multipart/form-data">
                <tr>
                    <td>品牌编号：</td>
                    <td><input class="blank" name="mid"  type="text"  th:value="${mfg?.mid}"/></td>
                </tr>
                <tr>
                    <td>品牌名称：</td>
                    <td><input class="blank" name="mfgName" type="text" th:value="${mfg?.mfgName}" value="ST"/></td>
                </tr>
                <tr>
                    <td>品牌商标：</td>
                    <td><input class="blank" name="mfgmultipartFile"   type="file" value=""/></td>
                </tr>
                <tr>
                    <td>生产产品：</td>
                    <td>
                        <textarea name="product" th:text="${mfg?.product}"  cols="100" rows="10">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>公司简介：</td>
                    <td>
                      <textarea name="mprofile" th:text="${mfg?.mprofile}" cols="100" rows="10">
                      </textarea>
                    </td>
                </tr>
                <tr>
                    <td>国籍：</td>
                    <td><input class="blank" name="country" th:value="${mfg?.country}" type="text" /></td>
                </tr>
                <tr>
                    <td>网址：</td>
                    <td><input class="blank" name="website" th:value="${mfg?.website}" type="text" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="修改"/></td>
                </tr>
                </form>
            </table>

    </div>
    <div>
        <form action="/downloadMfg" method="post">
            <tr><th>下载品牌列表</th></tr>
            <td><input type="submit" value="批量下载"/></td>
        </form>
    </div>
    <div>
        <form method="post" action="/uploadMfg" enctype="multipart/form-data">
            <tr><th>上传品牌列表</th></tr>
            <tr><td>
                <input name="smultipartfile" type="file"/>
            </td></tr>
            <tr>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </form>
    </div>
</body>

<style>
    .blank{
        width: 680px;
    }
</style>
</html>