<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/admin.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/admin.js"></script>

</head>

<body>

    <div>
        <form action="/Xquote" method="post">
            <table cellspacing="10px">
                <tr>
                    <td colspan="9">
                        <input type="text" th:value="${pager?.condition?.quote?.qotno}" name="qotno" placeholder="报价单号"/>
                        <input type="text" th:value="${pager?.condition?.quote?.company}" name="company" placeholder="公司名称"/>
                        <input type="text" th:value="${pager?.condition?.quote?.pn}" name="pn" placeholder="型号"/>
                        <input type="submit" value="查询"/>
                    </td>
                </tr>
                <tr>
                    <td>询价单号</td>
                    <th>公司名称</th>
                    <th>型号</th>
                    <th>品质标准</th>
                    <th>批次</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>货期</th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:each="quote:${pager.datas}">
                    <td th:text="${quote.qotno}">I8090600001</td>
                    <td th:text="${quote.company}">深圳市模板电子科技有限公司</td>
                    <td th:text="${quote.pn}">STM8S903K3T6C</td>
                    <td th:text="${quote.qltyName}">原装正品</td>
                    <td th:text="${quote.dtcd}">2018+</td>
                    <td th:text="${quote.qty}">56850</td>
                    <td th:text="${quote.price}">102.56</td>
                    <td th:text="${quote.dtime}">深圳现货</td>
                    <td><a th:href="@{'/deletXquote/'+${quote.qotno}}">删除</a></td>
                </tr>

             </table>
        </form>
    </div>
    <div class="box">
        <div id="pageCount">
              <span th:if="${pager.totalPage>0}">
            <a th:href="@{/Xquote(currentPage=1,company=${pager?.condition?.quote?.company},pn=${pager?.condition?.quote?.pn},qotno=${pager?.condition?.quote?.qotno})}" th:if="${pager.currentPage>1}">首页</a>
            <a th:href="@{/Xquote(currentPage=${pager.currentPage} - 1,company=${pager?.condition?.quote?.company},pn=${pager?.condition?.quote?.pn},qotno=${pager?.condition?.quote?.qotno})}" th:if="${pager.currentPage>1}">上一页</a>
            <span th:if="${pager.totalPage>0}" th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i&lt;pager.currentPage+10 &amp;&amp; i&lt;=pager.totalPage}" th:href="@{/Xquote(currentPage=${i},company=${pager?.condition?.quote?.company},pn=${pager?.condition?.quote?.pn},qotno=${pager?.condition?.quote?.qotno})}" th:text="${i}"></a>
        </span>
            <a th:href="@{/Xquote(currentPage=${pager.currentPage}+1,company=${pager?.condition?.quote?.company},pn=${pager?.condition?.quote?.pn},qotno=${pager?.condition?.quote?.qotno})}" th:if="${pager.currentPage&lt;pager.totalPage}">下一页</a>
            <a th:href="@{/Xquote(currentPage=${pager.totalPage},company=${pager?.condition?.quote?.company},pn=${pager?.condition?.quote?.pn},qotno=${pager?.condition?.quote?.qotno})}" th:if="${pager.currentPage>1}">末页</a>
            <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>
              </span>
        </div>
    </div>
</body>
</html>