<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/vendor.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/vendor.js"></script>

</head>

<body>
<input type="hidden" id="AlertMessage" th:value="${AlertMessage}">
    <div>
        <form action="/addService" method="post">
            <table cellspacing="10px">
                <tr>
                   <th colspan="2">新增客户服务</th>
                </tr>
                <tr>
                    <td>客户编号</td>
                    <td><input type="text" name="uid"/></td>
                </tr>
                <tr>
                    <td>服务名称</td>
                    <td><input type="text" name="sname"/></td>
                </tr>
                <tr>
                    <td>服务内容</td>
                    <td><input type="text" name="scontent"/></td>
                </tr>
                <tr>
                    <td>起始时间</td>
                    <td><input type="text" name="startdate"/>(格式:2019/02/10)</td>
                </tr>
                <tr>
                    <td>截止时间</td>
                    <td><input type="text" name="enddate"/>(格式:2019/02/10)</td>
                </tr>
                <tr>
                    <td>服务费用</td>
                    <td><input type="text" name="fee"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="提交"/></td>
                </tr>
             </table>
        </form>
    </div>

    <div>
            <table cellspacing="10px">
                <form action="/Xservice" method="post">
                    <th colspan="7">
                        <input type="text" th:value="${pager?.condition?.uName}" name="uName" placeholder="请输入客户名称"/>
                        <input type="text" th:value="${pager?.condition?.sName}" name="sName" placeholder="服务名称"/>
                        <input type="submit" value="提交"/>
                    </th>
                </form>
                <tr>
                    <th>服务编号</th>
                    <th>客户名称</th>
                    <th>服务名称</th>
                    <th>起始时间</th>
                    <th>截止时间</th>
                    <th>服务费用</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.size(pager?.datas)==0}">
                    <td>暂无记录</td>
                </tr>
                <div th:each="service:${pager.datas}">
                    <tr >
                        <td th:text="${service.sid}"></td>
                        <td th:text="${service.uName}"></td>
                        <td th:text="${service.sname}"></td>
                        <td th:text="${#dates.format(service.startdate,'yyyy/MM/dd')}"></td>
                        <td th:text="${#dates.format(service.enddate,'yyyy/MM/dd')}"></td>
                        <td th:text="${service.fee}"></td>
                    </tr>
                    <tr>
                        <td th:text="${'内容：'+service.scontent}"></td>
                    </tr>
                </div>
            </table>
    </div>
<div class="box">
    <div id="pageCount">
        <a th:href="@{/Xservice(currentPage=1,uName=${pager?.condition?.uName},sName=${pager?.condition?.sName})}" th:if="${pager.currentPage>1}">首页</a>
        <a th:href="@{/Xservice(currentPage=${pager.currentPage} - 1,uName=${pager?.condition?.uName},sName=${pager?.condition?.sName})}" th:if="${pager.currentPage>1}">上一页</a>
        <span th:each="i:${#numbers.sequence(pager.currentPage,pager.totalPage,1)}">
            <a th:if="${i<pager.currentPage+10&& i<=pager.totalPage}" th:href="@{/Xservice(currentPage=${i},uName=${pager?.condition?.uName},sName=${pager?.condition?.sName})}" th:text="${i}"></a>
        </span>
        <a th:href="@{/Xservice(currentPage=${pager.currentPage}+1,uName=${pager?.condition?.uName},sName=${pager?.condition?.sName})}" th:if="${pager.currentPage<pager.totalPage}">下一页</a>
        <a th:href="@{/Xservice(currentPage=${pager.totalPage},uName=${pager?.condition?.uName},sName=${pager?.condition?.sName})}" th:if="${pager.currentPage>1}">末页</a>
        <span th:text="'第'+${pager.currentPage}+'页/共'+${pager.totalPage}+'页'"></span>

    </div>
</div>
</body>
</html>