<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/public.css"    />
    <link  rel="stylesheet"  type="text/css"  href="css/admin.css"  />
    <script src="js/jquery-3.2.1.js"></script>
    <script  type="text/javascript" src="js/public.js"></script>
    <script  type="text/javascript" src="js/admin.js"></script>
</head>

<body>
    <div>
        <form action="/queryUserById/{id}">
            <div>
                <input type="text" name="id" width="100px" placeholder="客户编号"/><input type="submit" value="查询"/>
            </div>
        </form>
        <form method="post" action="/saveUser">
            <table id="user" cellspacing="10px">
                <tr>
                    <td>用户编号：</td>
                    <td><input type="text" name="uid" th:value="${uid}"/></td>
                </tr>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="nickname" th:value="${nickname}"/></td>
                </tr>
                <tr>
                    <td>手机号码：</td>
                    <td><input type="text" name="mobile" th:value="${mobile}"/></td>
                </tr>
                <tr>
                    <td>公司名称：</td>
                    <td><input type="text" name="company" th:value="${company}"/></td>
                </tr>
                <tr>
                    <td>公司简称：</td>
                    <td><input type="text" name="co" th:value="${co}"/></td>
                </tr>
                <tr>
                    <td>区域：</td>
                    <td><input type="text" name="area" th:value="${area}"/></td>
                </tr>
                <tr>
                    <td>用户类型：</td>
                    <td><input type="text" name="utype" th:value="${utype}"/></td>
                </tr>
                <tr>
                    <td>联系人：</td>
                    <td><input type="text" name="contact" th:value="${contact}"/></td>
                </tr>
                <tr>
                    <td>职位：</td>
                    <td><input type="text" name="title" th:value="${title}"/></td>
                </tr>
                <tr>
                    <td>电话：</td>
                    <td><input type="text" name="tel" th:value="${tel}"/></td>
                </tr>
                <tr>
                    <td>QQ号码：</td>
                    <td><input type="text" name="qq" th:value="${qq}"/></td>
                </tr>
                <tr>
                    <td>微信号码：</td>
                    <td><input type="text" name="wechat" th:value="${wechat}"/></td>
                </tr>
                <tr>
                    <td>爱好：</td>
                    <td><input type="text" name="hobby" th:value="${hobby}"/></td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td><input type="text" name="email" th:value="${email}"/></td>
                </tr>
                <tr>
                    <td>地址：</td>
                    <td><input type="text" name="addr" th:value="${addr}"/></td>
                </tr>
                <tr>
                    <td>网址：</td>
                    <td><input type="text" name="website" th:value="${website}"/></td>
                </tr>
                <tr>
                    <td>站内网址：</td>
                    <td><input type="text" name="website1" th:value="${website1}"/></td>
                </tr>
                <tr>
                    <td>主营业务：</td>
                    <td><textarea name="business" th:text="${business}"  cols="100" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td>公司简介：</td>
                    <td><textarea name="profile" th:text="${profile}" cols="100" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td>公司商标：</td>
                    <td><input type="text" name="ulogo" th:value="${ulogo}"/></td>
                </tr>
                <tr>
                    <td>宣传图片：</td>
                    <td><input type="text" name="image" th:value="${image}"/></td>
                </tr>
                <tr>
                    <td>营业执照号码：</td>
                    <td><input type="text" name="certid" th:value="${certid}"/></td>
                </tr>
                <tr>
                    <td>营业执照：</td>
                    <td><input type="text" name="cert" th:value="${cert}"/></td>
                </tr>
                <tr>
                    <td>是否通过认证：</td>
                    <td><input type="text" name="iscert" th:value="${iscert}"/></td>
                </tr>
                <tr>
                    <td>询价权限：</td>
                    <td><input type="text" name="rrfq" th:value="${rrfq}"/></td>
                </tr>
                <tr>
                    <td>报价权限：</td>
                    <td><input type="text" name="rquote" th:value="${rquote}"/></td>
                </tr>
                <tr>
                    <td>热卖权限：</td>
                    <td><input type="text" name="rhot" th:value="${rhot}"/></td>
                </tr>
                <tr>
                    <td>查询权限：</td>
                    <td><input type="text" name="rfind" th:value="${rfind}"/></td>
                </tr>
                <tr>
                    <td>供应商权限：</td>
                    <td><input type="text" name="rvendor" th:value="${rvendor}"/></td>
                </tr>
                <tr>
                    <td>BOM权限：</td>
                    <td><input type="text" name="rbom" th:value="${rbom}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" /></td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <form action="downloadUser">
            <tr><th>根据地域下载用户列表</th></tr>
            <tr><td>
                型号分类:<select class="input3" type="text">
                <option value="深圳" selected="selected">深圳市</option>
                <option value="北京" >北京市</option>
                <option value="上海">上海市</option>
                <option value="南京">南京市</option>
                <option value="杭州">杭州市</option>
                <option value="港台">港澳台</option>
                <option value="华南">华南区</option>
                <option value="华东">华东区</option>
                <option value="华中">华中区</option>
                <option value="华北">华北区</option>
                <option value="西南">西南区</option>
                <option value="西北">西北区</option>
                <option value="东北">东北区</option>
            </select>
            </td></tr>
            <td><input type="submit" value="批量下载"/></td>
        </form>
    </div>
    <div>
        <form action="uploadUser">
            <tr><th>批量上传用户列表</th></tr>
            <tr><td>
                <input type="file"/>
            </td></tr>
            <tr>
                <td><input type="radio" value="新增"/>新增<input type="radio" value="修改"/>修改</td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"/></td>
            </tr>
        </form>
    </div>
</body>

<style>
  #user input{
        width: 680px;
    }
</style>
</html>