
#title{
    margin: 0 auto;
    width: 1000px;
}
#title span{
    font-size: 32px;
    margin-left: 300px;
}

#comInfo_box{
	width: 100%;
}
#comInfo{
	margin:0 auto;
    width:1000px;
    font-size: 16px;
}
#comInfo form{
    margin-top: 20px;
}
#comInfo td{
    padding: 10px;
}

.inputFm1{
    width: 38%;
    height: 20px;
}

#h2_box{
    width: 100%;
}
#h2{
    margin: 0 auto;
    width: 1000px;
    height: 60px;
    border-bottom: 2px solid #FF0000;
}
#h2 span{
    float: left;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
ul li{
    float: left;
}
#hotStk_box{
    width: 100%;
}
#hotStk{
    margin:0 auto;
    width: 1000px;
}
#hotStk div:first-child{
    padding: 32px;
    font-size: 24px;
    text-align: center;
}
