
#search{
    margin:0 auto;
    width:1000px;
    height:100px;
}

#ptypeList{
    float:left;
    border:2px solid blue;
    width:120px;
    height:30px;
    margin-left: 150px;
    margin-top:20px;
    font-size: 20px;
}

#pnInput{
    float:left;
    width:400px;
    height:30px;
    margin-left:20px;
    margin-top:20px;
    border:2px solid blue;
}
#searchBtn{
    float:left;
    width:150px;
    height:35px;
    margin-left:10px;
    margin-top:15px;
    font-size:20px;
}

#content{
    margin:0 auto;
    width:1000px;
}
li{
    float: left;
    height: 30px;
}

.nav1:nth-child(2){
    color: #FF3300;
    font-weight: bold;
}

a{
    text-decoration: none;
}
.container {
    position: relative;
    width: 470px;
    height: 280px;
    margin: 5px;
    border: solid 10px lavender;
    border-radius: 10px;
    box-shadow: 0 0 5px blue;
    overflow: hidden;
}
.container .wrap {
    position: absolute;
    width: 3290px;
    height: 280px;
    z-index: 1;
}
.container .wrap img {
    float: left;
    width: 470px;
    height: 280px;
}
.container .buttons {
    position: absolute;
    right: 5px;
    bottom:15px;
    width: 150px;
    height: 10px;
    z-index: 2;
}
.container .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333333;
    text-align: center;
    color:white;
    cursor: pointer;
}
.container .buttons span.on{
    background-color: #F30;
}
.container .arrow {
    position: absolute;
    top: 35%;
    color: #FF3300;
    padding:0px 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
}
.container .arrow_left {
    left: 10px;
}
.container .arrow_right {
    right: 10px;
}
.container:hover .arrow {
    display: block;
}
.container .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}
#board{
    width: 470px;
    height: 280px;
    margin: 5px;
    border: solid 10px lavender;
    border-radius: 10px;
    box-shadow: 0 0 5px blue;
}
#box{
    margin:0 auto;
    width: 470px;
    height: 280px;
    overflow: hidden;
}

#bannerDiv{
    width:1000px;
    height: 310px;
    margin: 0 auto;
}

#bannerDiv div{
    float:left;
}
.bannerArrow{
    width:50px;
    height:138px;
}
.bannerArrow p{
    width:50px;
    height:50px;
    margin-top:100px;
}
.bannerArrow p.pleft{
    background:url("../images/prev.png") no-repeat;
}
.bannerArrow p.pright{
    background:url(../images/next.png) no-repeat;
    float: right;
}
.bannerMiddle{
    width:1000px;
    height:243px;
    margin: 0 auto;

}
.bannerImage1{
    background:url(../images/banner1.jpg) no-repeat;
}
.bannerImage2{
    background:url(../images/banner2.jpg) no-repeat;
}
.bannerImage3{
    background:url(../images/banner3.jpg) no-repeat;
}