*{
    margin:0;
    padding:0;
}

ul{
    list-style:none;
}

.box{
    width:100%;
    height:auto;
    clear: both;
}
#header{
    width:100%;
    height:32px;
    background-color: lavender;
}

#naver{
    width:100%;
    height:100px;
}
#head{
    margin:0 auto;
    width:1000px;
    height:80px;
}
#logo{
    float:left;
    width:150px;
    height:80px;
}
#head span{
    display: inline-block;
    float:left;
    width:220px;
    height:25px;
    font-size: 16px;
    margin-left:250px;
    margin-top:5px;
}
#admin:hover{color:#F00;}
#admin{
    float:left;
    width:80px;
    height:25px;
    font-size: 16px;
    margin-left:50px;
    margin-top:5px;
    text-decoration:none;
    cursor:pointer;
}
#logon:hover{color:#F00;}
#logon{
    float:left;
    width:40px;
    height:25px;
    font-size: 16px;
    margin-left:80px;
    margin-top:5px;
    text-decoration:none;
    cursor:pointer;
}
#exit:hover{color:#F00;}
#exit{
    float:left;
    width:40px;
    height:25px;
    font-size: 16px;
    margin-left:80px;
    margin-top:5px;
    text-decoration:none;
    cursor:pointer;
}
#regist:hover{color:#F00;}
#regist{
    float:left;
    width:40px;
    height:25px;
    font-size: 16px;
    margin-left:20px;
    margin-top:5px;
    cursor:pointer;
}

#userInfo:hover{color:#F00;}
#userInfo{
    float:left;
    width:80px;
    height:25px;
    font-size: 16px;
    margin-left:20px;
    margin-top:5px;
    cursor:pointer;
}
#nav{
    margin:0 auto;
    width:1000px;
    height:80px;
}

#logo{
    padding: 10px;
    padding-right: 100px;
}
.nav1:hover{color:#F00;}

.nav1{
    display: inline-block;
    width:80px;
    margin-top: 55px;
    margin-left:30px;
    font-size:24px;
    cursor:pointer;
}


#banner{
    margin: auto;
    width:1000px;
    height:243px;
}

#img{
    margin: 0 auto;
    text-align: center;
}
#pageCount_box{
    width:100%;
    height:auto;
}
#pageCount{
    margin:0 auto;
    width:1000px;
    height:60px;
}
#pageCount span{
    width:20px;
    margin-left:30px;
    line-height:40px;
    font-size:16px;
}
.button{
    float: left;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left:10px;
    text-align: center;
}
.button:hover{
    color: #FF0000;
}
.num{
    float: left;
    width: 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
#belowNav_box{
    width:100%;
   height:40px;
    margin-top: 30px;
    background:#333;
}
#belowNav{
    margin:0 auto;
    width:1000px;
    height:40px;
}
#belowNav a{
    float:left;
    line-height:40px;
    margin-left:100px;
    color:#FFF;
    cursor:pointer;
}
#belowNav a:hover{
    color:#F30;
}

#vr{
    margin:0 auto;
    width: 1000px;
}
#vr span{
   float: left;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.odd{
    background-color: lavender;
}

.headline th{
    text-align: left;
}
