
#rfqTarget_box{
	width:100%;
	margin-top: 10px;
}
#rfqTarget{
	margin:0 auto;
	width:1000px;
	height:120px;
	font-size:16px;
}

#quoteList_box{
	width:100%
}
#quoteList{
	margin:0 auto;
	width:1000px;
	height:850px;
	font-size:16px;
}
.nav1:nth-child(4){
	color: #FF3300;
	font-weight: bold;
}
