
#title{
    margin: 0 auto;
    width: 1000px;
}
#title span{
    font-size: 32px;
    margin-left: 350px;
}

#hl_box{
	width: 100%;
}
#hlBox{
	margin: 0 auto;
	width:1000px;
	height: 80px;
    font-size: 18px;
}

#hlBox th{
    font-size: 20px;
    color: dimgray;
}

#hlBox th:last-child:hover{
    color: #FF0000;
    cursor:pointer;
}
#form_box{
	width: 100%;
}
#userDetail{
	margin:0 auto;
	width: 1000px;
	font-size: 18px;
}
.lname{
    width: 15%;
    text-align: right;
    color: dimgray;
}
.rname{
    font-size: 18px;
    background:none;
    outline:none;
    border:0px;
}
#userDetail td{
    padding: 5px;
    border: solid 1px lavender;
}
#userDetail textarea{
    font-size: 18px;
    background:none;
    outline:none;
    border:0px;
}

#note{
    margin: 0 auto;
    width: 800px;
}
#note td{
    color: dimgray;
}